// Guidelines for the image elements:
//     > The image should be placed inside the container class.
//     > For the home page and other page like so, consider using SVG.
//     > .


// Importing the variables and design foundation to the code.
@use "./../../base/_index" as base;


img {
  border-radius: base.$radius;
}

@media screen and (max-width: 1440px) {
  img {
    width: 100%;
  }
}

@media screen and (min-width: 1440px) {
  img {
    width: 100%
  }
}