/* ------------------------------------ */
/* Reset CSS */
/* Source Website: https://piccalil.li/blog/a-modern-css-reset */
/* Source GitHub: https://github.com/Andy-set-studio/modern-css-reset */
/* ------------------------------------ */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding */
* {
  margin: 0;
  padding: 0;
}

/* Remove default font styling */
* {
  font: inherit;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set body and HTML height */
html {
  height: 100%;
}

/* Set core body defaults */
body {
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Body overflow, set to scroll on y-axis */
body {
  overflow-y: scroll;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Remove text decoration from anchor elements */
a {
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1,
h2,
h3,
h4,
h5,
h6,
.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
  line-height: 1.15;
  font-weight: 700;
  letter-spacing: -0.012em;
  text-transform: capitalize;
}

@media screen and (max-width: 30rem) {
  body.minorSecond h1,
  body.minorSecond .title-1 {
    font-size: 1.1805285744rem;
  }
  body.minorSecond h2,
  body.minorSecond .title-2 {
    font-size: 1.1063997886rem;
  }
  body.minorSecond h3,
  body.minorSecond .title-3 {
    font-size: 1.0369257625rem;
  }
  body.minorSecond h4,
  body.minorSecond .title-4 {
    font-size: 0.9718142104rem;
  }
  body.minorSecond h5,
  body.minorSecond .title-5 {
    font-size: 0.9107912rem;
  }
  body.minorSecond h6,
  body.minorSecond .title-6 {
    font-size: 0.8536rem;
  }
  body.minorSecond p,
  body.minorSecond .body {
    font-size: 1rem;
  }
  body.minorSecond .caption,
  body.minorSecond .overhead {
    font-size: 0.9372071228rem;
  }
}
@media screen and (max-width: 48rem) {
  body.minorSecond h1,
  body.minorSecond .title-1 {
    font-size: 1.2543116103rem;
  }
  body.minorSecond h2,
  body.minorSecond .title-2 {
    font-size: 1.1755497754rem;
  }
  body.minorSecond h3,
  body.minorSecond .title-3 {
    font-size: 1.1017336227rem;
  }
  body.minorSecond h4,
  body.minorSecond .title-4 {
    font-size: 1.0325525985rem;
  }
  body.minorSecond h5,
  body.minorSecond .title-5 {
    font-size: 0.96771565rem;
  }
  body.minorSecond h6,
  body.minorSecond .title-6 {
    font-size: 0.90695rem;
  }
  body.minorSecond p,
  body.minorSecond .body {
    font-size: 1rem;
  }
  body.minorSecond .caption,
  body.minorSecond .overhead {
    font-size: 0.9372071228rem;
  }
}
@media screen and (max-width: 64rem) {
  body.minorSecond h1,
  body.minorSecond .title-1 {
    font-size: 1.3280946462rem;
  }
  body.minorSecond h2,
  body.minorSecond .title-2 {
    font-size: 1.2446997622rem;
  }
  body.minorSecond h3,
  body.minorSecond .title-3 {
    font-size: 1.1665414828rem;
  }
  body.minorSecond h4,
  body.minorSecond .title-4 {
    font-size: 1.0932909867rem;
  }
  body.minorSecond h5,
  body.minorSecond .title-5 {
    font-size: 1.0246401rem;
  }
  body.minorSecond h6,
  body.minorSecond .title-6 {
    font-size: 0.9603rem;
  }
  body.minorSecond p,
  body.minorSecond .body {
    font-size: 1rem;
  }
  body.minorSecond .caption,
  body.minorSecond .overhead {
    font-size: 0.9372071228rem;
  }
}
@media screen and (max-width: 90rem) {
  body.minorSecond h1,
  body.minorSecond .title-1 {
    font-size: 1.4018776821rem;
  }
  body.minorSecond h2,
  body.minorSecond .title-2 {
    font-size: 1.3138497489rem;
  }
  body.minorSecond h3,
  body.minorSecond .title-3 {
    font-size: 1.231349343rem;
  }
  body.minorSecond h4,
  body.minorSecond .title-4 {
    font-size: 1.1540293748rem;
  }
  body.minorSecond h5,
  body.minorSecond .title-5 {
    font-size: 1.08156455rem;
  }
  body.minorSecond h6,
  body.minorSecond .title-6 {
    font-size: 1.01365rem;
  }
  body.minorSecond p,
  body.minorSecond .body {
    font-size: 1rem;
  }
  body.minorSecond .caption,
  body.minorSecond .overhead {
    font-size: 0.9372071228rem;
  }
}
@media screen and (min-width: 90rem) {
  body.minorSecond h1,
  body.minorSecond .title-1 {
    font-size: 1.475660718rem;
  }
  body.minorSecond h2,
  body.minorSecond .title-2 {
    font-size: 1.3829997357rem;
  }
  body.minorSecond h3,
  body.minorSecond .title-3 {
    font-size: 1.2961572031rem;
  }
  body.minorSecond h4,
  body.minorSecond .title-4 {
    font-size: 1.214767763rem;
  }
  body.minorSecond h5,
  body.minorSecond .title-5 {
    font-size: 1.138489rem;
  }
  body.minorSecond h6,
  body.minorSecond .title-6 {
    font-size: 1.067rem;
  }
  body.minorSecond p,
  body.minorSecond .body {
    font-size: 1rem;
  }
  body.minorSecond .caption,
  body.minorSecond .overhead {
    font-size: 0.9372071228rem;
  }
}

@media screen and (max-width: 30rem) {
  body.majorSecond h1,
  body.majorSecond .title-1 {
    font-size: 1.6218292236rem;
  }
  body.majorSecond h2,
  body.majorSecond .title-2 {
    font-size: 1.4416259766rem;
  }
  body.majorSecond h3,
  body.majorSecond .title-3 {
    font-size: 1.2814453125rem;
  }
  body.majorSecond h4,
  body.majorSecond .title-4 {
    font-size: 1.1390625rem;
  }
  body.majorSecond h5,
  body.majorSecond .title-5 {
    font-size: 1.0125rem;
  }
  body.majorSecond h6,
  body.majorSecond .title-6 {
    font-size: 0.9rem;
  }
  body.majorSecond p,
  body.majorSecond .body {
    font-size: 1rem;
  }
  body.majorSecond .caption,
  body.majorSecond .overhead {
    font-size: 0.8888888889rem;
  }
}
@media screen and (max-width: 48rem) {
  body.majorSecond h1,
  body.majorSecond .title-1 {
    font-size: 1.7231935501rem;
  }
  body.majorSecond h2,
  body.majorSecond .title-2 {
    font-size: 1.5317276001rem;
  }
  body.majorSecond h3,
  body.majorSecond .title-3 {
    font-size: 1.3615356445rem;
  }
  body.majorSecond h4,
  body.majorSecond .title-4 {
    font-size: 1.2102539063rem;
  }
  body.majorSecond h5,
  body.majorSecond .title-5 {
    font-size: 1.07578125rem;
  }
  body.majorSecond h6,
  body.majorSecond .title-6 {
    font-size: 0.95625rem;
  }
  body.majorSecond p,
  body.majorSecond .body {
    font-size: 1rem;
  }
  body.majorSecond .caption,
  body.majorSecond .overhead {
    font-size: 0.8888888889rem;
  }
}
@media screen and (max-width: 64rem) {
  body.majorSecond h1,
  body.majorSecond .title-1 {
    font-size: 1.8245578766rem;
  }
  body.majorSecond h2,
  body.majorSecond .title-2 {
    font-size: 1.6218292236rem;
  }
  body.majorSecond h3,
  body.majorSecond .title-3 {
    font-size: 1.4416259766rem;
  }
  body.majorSecond h4,
  body.majorSecond .title-4 {
    font-size: 1.2814453125rem;
  }
  body.majorSecond h5,
  body.majorSecond .title-5 {
    font-size: 1.1390625rem;
  }
  body.majorSecond h6,
  body.majorSecond .title-6 {
    font-size: 1.0125rem;
  }
  body.majorSecond p,
  body.majorSecond .body {
    font-size: 1rem;
  }
  body.majorSecond .caption,
  body.majorSecond .overhead {
    font-size: 0.8888888889rem;
  }
}
@media screen and (max-width: 90rem) {
  body.majorSecond h1,
  body.majorSecond .title-1 {
    font-size: 1.9259222031rem;
  }
  body.majorSecond h2,
  body.majorSecond .title-2 {
    font-size: 1.7119308472rem;
  }
  body.majorSecond h3,
  body.majorSecond .title-3 {
    font-size: 1.5217163086rem;
  }
  body.majorSecond h4,
  body.majorSecond .title-4 {
    font-size: 1.3526367188rem;
  }
  body.majorSecond h5,
  body.majorSecond .title-5 {
    font-size: 1.20234375rem;
  }
  body.majorSecond h6,
  body.majorSecond .title-6 {
    font-size: 1.06875rem;
  }
  body.majorSecond p,
  body.majorSecond .body {
    font-size: 1rem;
  }
  body.majorSecond .caption,
  body.majorSecond .overhead {
    font-size: 0.8888888889rem;
  }
}
@media screen and (min-width: 90rem) {
  body.majorSecond h1,
  body.majorSecond .title-1 {
    font-size: 2.0272865295rem;
  }
  body.majorSecond h2,
  body.majorSecond .title-2 {
    font-size: 1.8020324707rem;
  }
  body.majorSecond h3,
  body.majorSecond .title-3 {
    font-size: 1.6018066406rem;
  }
  body.majorSecond h4,
  body.majorSecond .title-4 {
    font-size: 1.423828125rem;
  }
  body.majorSecond h5,
  body.majorSecond .title-5 {
    font-size: 1.265625rem;
  }
  body.majorSecond h6,
  body.majorSecond .title-6 {
    font-size: 1.125rem;
  }
  body.majorSecond p,
  body.majorSecond .body {
    font-size: 1rem;
  }
  body.majorSecond .caption,
  body.majorSecond .overhead {
    font-size: 0.8888888889rem;
  }
}

@media screen and (max-width: 30rem) {
  body.minorThird h1,
  body.minorThird .title-1 {
    font-size: 2.3887872rem;
  }
  body.minorThird h2,
  body.minorThird .title-2 {
    font-size: 1.990656rem;
  }
  body.minorThird h3,
  body.minorThird .title-3 {
    font-size: 1.65888rem;
  }
  body.minorThird h4,
  body.minorThird .title-4 {
    font-size: 1.3824rem;
  }
  body.minorThird h5,
  body.minorThird .title-5 {
    font-size: 1.152rem;
  }
  body.minorThird h6,
  body.minorThird .title-6 {
    font-size: 0.96rem;
  }
  body.minorThird p,
  body.minorThird .body {
    font-size: 1rem;
  }
  body.minorThird .caption,
  body.minorThird .overhead {
    font-size: 0.8333333333rem;
  }
}
@media screen and (max-width: 48rem) {
  body.minorThird h1,
  body.minorThird .title-1 {
    font-size: 2.5380864rem;
  }
  body.minorThird h2,
  body.minorThird .title-2 {
    font-size: 2.115072rem;
  }
  body.minorThird h3,
  body.minorThird .title-3 {
    font-size: 1.76256rem;
  }
  body.minorThird h4,
  body.minorThird .title-4 {
    font-size: 1.4688rem;
  }
  body.minorThird h5,
  body.minorThird .title-5 {
    font-size: 1.224rem;
  }
  body.minorThird h6,
  body.minorThird .title-6 {
    font-size: 1.02rem;
  }
  body.minorThird p,
  body.minorThird .body {
    font-size: 1rem;
  }
  body.minorThird .caption,
  body.minorThird .overhead {
    font-size: 0.8333333333rem;
  }
}
@media screen and (max-width: 64rem) {
  body.minorThird h1,
  body.minorThird .title-1 {
    font-size: 2.6873856rem;
  }
  body.minorThird h2,
  body.minorThird .title-2 {
    font-size: 2.239488rem;
  }
  body.minorThird h3,
  body.minorThird .title-3 {
    font-size: 1.86624rem;
  }
  body.minorThird h4,
  body.minorThird .title-4 {
    font-size: 1.5552rem;
  }
  body.minorThird h5,
  body.minorThird .title-5 {
    font-size: 1.296rem;
  }
  body.minorThird h6,
  body.minorThird .title-6 {
    font-size: 1.08rem;
  }
  body.minorThird p,
  body.minorThird .body {
    font-size: 1rem;
  }
  body.minorThird .caption,
  body.minorThird .overhead {
    font-size: 0.8333333333rem;
  }
}
@media screen and (max-width: 90rem) {
  body.minorThird h1,
  body.minorThird .title-1 {
    font-size: 2.8366848rem;
  }
  body.minorThird h2,
  body.minorThird .title-2 {
    font-size: 2.363904rem;
  }
  body.minorThird h3,
  body.minorThird .title-3 {
    font-size: 1.96992rem;
  }
  body.minorThird h4,
  body.minorThird .title-4 {
    font-size: 1.6416rem;
  }
  body.minorThird h5,
  body.minorThird .title-5 {
    font-size: 1.368rem;
  }
  body.minorThird h6,
  body.minorThird .title-6 {
    font-size: 1.14rem;
  }
  body.minorThird p,
  body.minorThird .body {
    font-size: 1rem;
  }
  body.minorThird .caption,
  body.minorThird .overhead {
    font-size: 0.8333333333rem;
  }
}
@media screen and (min-width: 90rem) {
  body.minorThird h1,
  body.minorThird .title-1 {
    font-size: 2.985984rem;
  }
  body.minorThird h2,
  body.minorThird .title-2 {
    font-size: 2.48832rem;
  }
  body.minorThird h3,
  body.minorThird .title-3 {
    font-size: 2.0736rem;
  }
  body.minorThird h4,
  body.minorThird .title-4 {
    font-size: 1.728rem;
  }
  body.minorThird h5,
  body.minorThird .title-5 {
    font-size: 1.44rem;
  }
  body.minorThird h6,
  body.minorThird .title-6 {
    font-size: 1.2rem;
  }
  body.minorThird p,
  body.minorThird .body {
    font-size: 1rem;
  }
  body.minorThird .caption,
  body.minorThird .overhead {
    font-size: 0.8333333333rem;
  }
}

@media screen and (max-width: 30rem) {
  body.majorThird h1,
  body.majorThird .title-1 {
    font-size: 3.0517578125rem;
  }
  body.majorThird h2,
  body.majorThird .title-2 {
    font-size: 2.44140625rem;
  }
  body.majorThird h3,
  body.majorThird .title-3 {
    font-size: 1.953125rem;
  }
  body.majorThird h4,
  body.majorThird .title-4 {
    font-size: 1.5625rem;
  }
  body.majorThird h5,
  body.majorThird .title-5 {
    font-size: 1.25rem;
  }
  body.majorThird h6,
  body.majorThird .title-6 {
    font-size: 1rem;
  }
  body.majorThird p,
  body.majorThird .body {
    font-size: 1rem;
  }
  body.majorThird .caption,
  body.majorThird .overhead {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 48rem) {
  body.majorThird h1,
  body.majorThird .title-1 {
    font-size: 3.2424926758rem;
  }
  body.majorThird h2,
  body.majorThird .title-2 {
    font-size: 2.5939941406rem;
  }
  body.majorThird h3,
  body.majorThird .title-3 {
    font-size: 2.0751953125rem;
  }
  body.majorThird h4,
  body.majorThird .title-4 {
    font-size: 1.66015625rem;
  }
  body.majorThird h5,
  body.majorThird .title-5 {
    font-size: 1.328125rem;
  }
  body.majorThird h6,
  body.majorThird .title-6 {
    font-size: 1.0625rem;
  }
  body.majorThird p,
  body.majorThird .body {
    font-size: 1rem;
  }
  body.majorThird .caption,
  body.majorThird .overhead {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 64rem) {
  body.majorThird h1,
  body.majorThird .title-1 {
    font-size: 3.4332275391rem;
  }
  body.majorThird h2,
  body.majorThird .title-2 {
    font-size: 2.7465820313rem;
  }
  body.majorThird h3,
  body.majorThird .title-3 {
    font-size: 2.197265625rem;
  }
  body.majorThird h4,
  body.majorThird .title-4 {
    font-size: 1.7578125rem;
  }
  body.majorThird h5,
  body.majorThird .title-5 {
    font-size: 1.40625rem;
  }
  body.majorThird h6,
  body.majorThird .title-6 {
    font-size: 1.125rem;
  }
  body.majorThird p,
  body.majorThird .body {
    font-size: 1rem;
  }
  body.majorThird .caption,
  body.majorThird .overhead {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 90rem) {
  body.majorThird h1,
  body.majorThird .title-1 {
    font-size: 3.6239624023rem;
  }
  body.majorThird h2,
  body.majorThird .title-2 {
    font-size: 2.8991699219rem;
  }
  body.majorThird h3,
  body.majorThird .title-3 {
    font-size: 2.3193359375rem;
  }
  body.majorThird h4,
  body.majorThird .title-4 {
    font-size: 1.85546875rem;
  }
  body.majorThird h5,
  body.majorThird .title-5 {
    font-size: 1.484375rem;
  }
  body.majorThird h6,
  body.majorThird .title-6 {
    font-size: 1.1875rem;
  }
  body.majorThird p,
  body.majorThird .body {
    font-size: 1rem;
  }
  body.majorThird .caption,
  body.majorThird .overhead {
    font-size: 0.8rem;
  }
}
@media screen and (min-width: 90rem) {
  body.majorThird h1,
  body.majorThird .title-1 {
    font-size: 3.8146972656rem;
  }
  body.majorThird h2,
  body.majorThird .title-2 {
    font-size: 3.0517578125rem;
  }
  body.majorThird h3,
  body.majorThird .title-3 {
    font-size: 2.44140625rem;
  }
  body.majorThird h4,
  body.majorThird .title-4 {
    font-size: 1.953125rem;
  }
  body.majorThird h5,
  body.majorThird .title-5 {
    font-size: 1.5625rem;
  }
  body.majorThird h6,
  body.majorThird .title-6 {
    font-size: 1.25rem;
  }
  body.majorThird p,
  body.majorThird .body {
    font-size: 1rem;
  }
  body.majorThird .caption,
  body.majorThird .overhead {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 480px) {
  .section {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
@media screen and (max-width: 768px) {
  .section {
    padding-top: 48px;
    padding-bottom: 48px;
  }
}
@media screen and (max-width: 1024px) {
  .section {
    padding-top: 64px;
    padding-bottom: 64px;
  }
}
@media screen and (max-width: 1440px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}
@media screen and (min-width: 1440px) {
  .section {
    padding-top: 80px;
    padding-bottom: 80px;
  }
}

@media screen and (max-width: 480px) {
  .section + .section {
    margin-top: 8px;
  }
}
@media screen and (max-width: 768px) {
  .section + .section {
    margin-top: 24px;
  }
}
@media screen and (max-width: 1024px) {
  .section + .section {
    margin-top: 32px;
  }
}
@media screen and (max-width: 1440px) {
  .section + .section {
    margin-top: 40px;
  }
}
@media screen and (min-width: 1440px) {
  .section + .section {
    margin-top: 48px;
  }
}

.section.section-hero {
  padding-top: 144px;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: calc(100% - 32px);
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .container {
    max-width: calc(100% - 40px);
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .container {
    max-width: calc(100% - 48px);
    margin: 0 auto;
  }
}
@media screen and (max-width: 1440px) {
  .container {
    max-width: calc(100% - 56px);
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .container {
    max-width: 1376px;
    margin: 0 auto;
  }
}

.button--profile {
  background-color: hsl(140, 50%, 100%);
  color: #000;
}

.badge--profile {
  background-color: hsl(140, 50%, 100%);
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.badge--profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.button, .button--plain, footer.footer--1 .footer__nav-row.footer__nav-row--links .footer__nav-column .footer__nav-title, footer.footer--1 .footer__nav-item, .button--outline, .button--tint, .button--solid {
  height: 44px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border: none;
  border-radius: 24px;
  gap: 8px;
}

.button__icon {
  border-radius: 0px;
  max-height: 24px;
  max-width: 24px;
}

.button__label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.button--solid {
  border: none;
  color: hsl(140, 50%, 99%);
  background-color: hsl(140, 50%, 50%);
  transition: all 400ms ease;
}
.button--solid:hover {
  border: none;
  color: hsl(140, 50%, 99%);
  background-color: hsl(140, 50%, 40%);
}
.button--solid:active, .button--solid--active {
  border: none;
  color: hsl(140, 50%, 99%);
  background-color: hsl(140, 50%, 30%);
}
.button--solid:disabled, .button--solid--disabled, .button--solid[aria-disabled=true] {
  opacity: 0.3;
  border: none;
  cursor: not-allowed;
  color: hsl(140, 50%, 99%);
  background-color: hsl(140, 50%, 50%);
}
.button--solid:disabled:hover, .button--solid--disabled:hover, .button--solid[aria-disabled=true]:hover {
  color: inherit;
  background-color: inherit;
}
.button--solid:disabled:active, .button--solid--disabled:active, .button--solid[aria-disabled=true]:active {
  color: inherit;
  background-color: inherit;
}

.button--tint {
  border: none;
  color: hsl(140, 50%, 1%);
  background-color: hsl(140, 50%, 80%);
  transition: all 400ms ease;
}
.button--tint:hover {
  border: none;
  color: hsl(140, 50%, 1%);
  background-color: hsl(140, 50%, 70%);
}
.button--tint:active, .button--tint--active {
  border: none;
  color: hsl(140, 50%, 1%);
  background-color: hsl(140, 50%, 60%);
}
.button--tint:disabled, .button--tint--disabled, .button--tint[aria-disabled=true] {
  border: none;
  color: hsl(140, 50%, 1%);
  background-color: hsl(140, 50%, 80%);
  opacity: 0.3;
  cursor: not-allowed;
}

.button--outline {
  color: hsl(140, 50%, 1%);
  border: 1px solid hsl(140, 50%, 40%);
  background-color: transparent;
  transition: all 400ms ease;
}
.button--outline:hover {
  color: hsl(140, 50%, 1%);
  border-color: hsl(140, 50%, 90%);
  background-color: hsl(140, 50%, 90%);
}
.button--outline:active, .button--outline--active {
  color: hsl(140, 50%, 1%);
  border-color: hsl(140, 50%, 80%);
  background-color: hsl(140, 50%, 80%);
}
.button--outline:disabled, .button--outline--disabled, .button--outline[aria-disabled=true] {
  color: hsl(140, 50%, 1%);
  border-color: hsl(140, 50%, 40%);
  background-color: transparent;
  opacity: 0.3;
  cursor: not-allowed;
}

.button--plain, footer.footer--1 .footer__nav-row.footer__nav-row--links .footer__nav-column .footer__nav-title, footer.footer--1 .footer__nav-item {
  color: hsl(140, 50%, 1%);
  border: none;
  background-color: transparent;
  transition: all 400ms ease;
}
.button--plain:hover, footer.footer--1 .footer__nav-row.footer__nav-row--links .footer__nav-column .footer__nav-title:hover, footer.footer--1 .footer__nav-item:hover {
  color: hsl(140, 50%, 1%);
  border: none;
  background-color: hsl(140, 50%, 90%);
}
.button--plain:active, footer.footer--1 .footer__nav-row.footer__nav-row--links .footer__nav-column .footer__nav-title:active, footer.footer--1 .footer__nav-item:active, .button--plain--active {
  color: hsl(140, 50%, 1%);
  border: none;
  background-color: hsl(140, 50%, 80%);
}
.button--plain:disabled, footer.footer--1 .footer__nav-row.footer__nav-row--links .footer__nav-column .footer__nav-title:disabled, footer.footer--1 .footer__nav-item:disabled, .button--plain--disabled, .button--plain[aria-disabled=true], footer.footer--1 .footer__nav-row.footer__nav-row--links .footer__nav-column [aria-disabled=true].footer__nav-title, footer.footer--1 [aria-disabled=true].footer__nav-item {
  color: hsl(140, 50%, 1%);
  border: none;
  background-color: transparent;
  opacity: 0.3;
  cursor: not-allowed;
}

.chip {
  height: 40px;
  max-height: 40px;
  min-width: 48px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  padding-left: 20px;
  padding-right: 20px;
  gap: 8px;
  margin-top: 12px;
  color: hsl(140, 50%, 40%);
  border: 1px solid hsl(140, 50%, 40%);
  background-color: transparent;
  transition: all 400ms ease;
}
.chip:hover {
  color: hsl(140, 50%, 30%);
  border-color: hsl(140, 50%, 30%);
  background-color: hsl(140, 50%, 95%);
}
.chip:active, .chip--active {
  color: hsl(140, 50%, 20%);
  border-color: hsl(140, 50%, 20%);
  background-color: hsl(140, 50%, 90%);
}
.chip:disabled, .chip--disabled, .chip[aria-disabled=true] {
  color: hsl(140, 50%, 40%);
  border-color: hsl(140, 50%, 40%);
  background-color: transparent;
  opacity: 0.3;
  cursor: not-allowed;
}

.divider {
  width: 100%;
  height: 1px;
  border-top: 2px solid hsl(140, 50%, 60%);
}

.contained-divider {
  width: 100%;
  height: 1px;
  border-top: 2px solid hsl(140, 50%, 60%);
}
@media screen and (max-width: 1440px) {
  .contained-divider {
    max-width: calc(100% - 32px);
    margin: 0 auto;
  }
}
@media screen and (min-width: 1440px) {
  .contained-divider {
    max-width: 1408px;
    margin: 0 auto;
  }
}

img {
  border-radius: 16px;
}

textarea {
  margin-top: 12px;
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  color: hsl(140, 50%, 15%);
  background-color: hsl(140, 50%, 99%);
  border: 1px solid hsl(140, 50%, 50%);
  border-radius: 8px;
  transition: all 300ms ease;
}
textarea:hover {
  border: 1px solid hsl(140, 50%, 40%);
}
textarea:focus, textarea:active {
  border: 1px solid hsl(140, 50%, 20%);
}

input {
  margin-top: 12px;
  width: 100%;
  padding: 12px 16px;
  font-size: 16px;
  color: hsl(140, 50%, 15%);
  background-color: hsl(140, 50%, 99%);
  border: 1px solid hsl(140, 50%, 50%);
  border-radius: 8px;
  transition: all 300ms ease;
}
input:hover {
  border: 1px solid hsl(140, 50%, 40%);
}
input:focus, input:active {
  border: 1px solid hsl(140, 50%, 20%);
}

input[type=submit] {
  flex: 1;
  outline: none;
  border: none;
  background-color: inherit;
  color: inherit;
  width: auto;
  height: auto;
  padding: 0;
  margin: 0;
  transition: none;
}

.comment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: hsl(140, 50%, 90%);
  border-radius: 0.25rem;
  padding: 1em;
}
.comment .comment__author {
  font-weight: 600;
  font-size: 1.1rem;
}
.comment .comment__body {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.5em;
}
.comment .comment__date {
  color: hsl(140, 50%, 10%);
  font-size: 0.9rem;
}

header.header.header--1 {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  height: auto;
  min-height: 64px;
  box-shadow: 0 2px 4px hsl(140, 50%, 85%);
  background-color: hsl(140, 50%, 100%);
}
header.header.header--1 .container .header__aod .header__logo {
  font-size: 24px;
  font-weight: bold;
  color: hsl(140, 50%, 30%);
}
@media screen and (max-width: 1024px) {
  header.header.header--1 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  header.header.header--1 .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header.header.header--1 .header__aod {
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header.header.header--1 .header__toggle-container {
    display: block;
  }
  header.header.header--1 .header__toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  header.header.header--1 .header__toggle-icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
  }
  header.header.header--1 .toggle__bar {
    position: absolute;
    width: 24px;
    height: 3px;
    background-color: hsl(140, 50%, 35%);
    border-radius: 8px;
    transition: transform 1000ms ease;
  }
  header.header.header--1 .toggle__bar:nth-child(1) {
    top: 6px;
  }
  header.header.header--1 .toggle__bar:nth-child(2) {
    bottom: 6px;
  }
  header.header.header--1 .header__toggle-button--clicked .toggle__bar:first-child {
    top: calc(50% - 1.5px);
    transform: rotate(45deg);
  }
  header.header.header--1 .header__toggle-button--clicked .toggle__bar:last-child {
    bottom: calc(50% - 1.5px);
    transform: rotate(-45deg);
  }
  header.header.header--1 .header__nav {
    height: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    opacity: 0;
    border-top: 0 solid hsl(140, 50%, 50%);
    transition: all 1000ms ease;
    gap: 8px;
  }
  header.header.header--1 .header__nav .button {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 8px;
  }
  header.header.header--1 .header__nav--open {
    border-top: 2px solid hsl(140, 50%, 50%);
    height: 100vh;
    padding: 16px 0;
    opacity: 1;
  }
}
@media screen and (min-width: 1024px) {
  header.header.header--1 {
    overflow: hidden;
  }
  header.header.header--1 .container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 64px;
  }
  header.header.header--1 .header__aod {
    display: block;
  }
  header.header.header--1 .header__toggle-container {
    display: none;
  }
  header.header.header--1 .header__nav {
    display: flex;
    gap: 4px;
    flex-direction: row;
    align-items: center;
  }
}
header.header.header--1 .header__toggle-container .header__toggle-button .toggle-icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  cursor: pointer;
}
header.header.header--1 .toggle__bar {
  position: absolute;
  width: 24px;
  height: 3px;
  background-color: hsl(140, 50%, 35%);
  border-radius: 8px;
  transition: transform 1000ms ease;
}
header.header.header--1 .toggle__bar:first-child {
  top: 6px;
}
header.header.header--1 .toggle__bar:last-child {
  bottom: 6px;
}

section.section-hero.section-hero--1 .container {
  display: flex;
}
section.section-hero.section-hero--1 .container .hero__content .overhead {
  text-transform: uppercase;
}
section.section-hero.section-hero--1 .container .hero__content p {
  max-width: 60ch;
}
section.section-hero.section-hero--1 .container .hero__content .button-container {
  display: flex;
  gap: 0.6666666667rem;
}
section.section-hero.section-hero--1 .container .hero__media img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media screen and (max-width: 1024px) {
  section.section-hero.section-hero--1 .container {
    flex-direction: column-reverse;
  }
  section.section-hero.section-hero--1 .container .hero__content {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  section.section-hero.section-hero--1 .container .hero__content p {
    margin-top: 1rem;
  }
  section.section-hero.section-hero--1 .container .hero__content .button-container {
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  section.section-hero.section-hero--1 .container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 2.25rem;
  }
  section.section-hero.section-hero--1 .container .hero__content h1 {
    margin-top: 0.6666666667rem;
    margin-bottom: 0.6666666667rem;
  }
  section.section-hero.section-hero--1 .container .hero__content .button-container {
    margin-top: 1rem;
  }
  section.section-hero.section-hero--1 .container .hero__media {
    max-width: 50%;
  }
}

.section.section-clients.section-clients--1 .container {
  margin-top: 24px;
}
.section.section-clients.section-clients--1 .container .section__detail .section__description {
  margin-top: 8px;
}
.section.section-clients.section-clients--1 .container .client-group {
  margin-top: 1rem;
  display: grid;
  gap: 1rem;
}
.section.section-clients.section-clients--1 .container .client-group .client {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px;
  border-radius: 4px;
}
.section.section-clients.section-clients--1 .container .client-group .client .client__logo {
  height: 96px;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 4px;
}
@media screen and (max-width: 320px) {
  .section.section-clients.section-clients--1 .client-group {
    grid-template-columns: 1fr;
  }
}
@media screen and (min-width: 320.001px) and (max-width: 768px) {
  .section.section-clients.section-clients--1 .client-group {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (min-width: 768.001px) {
  .section.section-clients.section-clients--1 .client-group {
    grid-template-columns: repeat(4, 1fr);
  }
}

.section.section-cta.section-cta--1 .container {
  display: flex;
}
.section.section-cta.section-cta--1 .container .cta__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.section.section-cta.section-cta--1 .container .cta__content .cta__title {
  margin-top: 0.4444444444rem;
}
.section.section-cta.section-cta--1 .container .cta__content .cta__description {
  margin-top: 0.4444444444rem;
}
.section.section-cta.section-cta--1 .container .cta__content .cta__button-container {
  margin-top: 1rem;
}
@media screen and (max-width: 1024px) {
  .section.section-cta.section-cta--1 .container {
    flex-direction: column-reverse;
    align-items: start;
    justify-content: start;
  }
  .section.section-cta.section-cta--1 .container .cta__media {
    max-width: 100%;
  }
  .section.section-cta.section-cta--1 .container .cta__content {
    margin-top: 1.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .section.section-cta.section-cta--1 .container {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .section.section-cta.section-cta--1 .container .cta__content {
    margin-top: 0.4444444444rem;
    margin-bottom: 0.4444444444rem;
  }
  .section.section-cta.section-cta--1 .container .cta__media {
    max-width: 50%;
  }
}

.section.section-features.section-features--01 .container {
  display: flex;
}

.section.section-processes.section-processes--1 .container .section__detail .section__description {
  margin-top: 8px;
}
.section.section-processes.section-processes--1 .container .processes {
  margin-top: 16px;
  display: flex;
}
.section.section-processes.section-processes--1 .container .processes .process {
  padding: 16px;
  background-color: white;
  filter: drop-shadow(1px 1px 2px #8d8d8d);
  border-radius: 4px;
}
@media screen and (max-width: 768px) {
  .section.section-processes.section-processes--1 .container .processes {
    flex-direction: column;
    row-gap: 12px;
  }
  .section.section-processes.section-processes--1 .container .processes .process {
    width: 100%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .section.section-processes.section-processes--1 .container .processes {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  }
  .section.section-processes.section-processes--1 .container .processes .process {
    width: calc(50% - 12px);
  }
}
@media screen and (min-width: 1024px) {
  .section.section-processes.section-processes--1 .container .processes {
    flex-direction: row;
    gap: 12px;
  }
  .section.section-processes.section-processes--1 .container .processes .process {
    width: calc(25% - 12px);
  }
}

footer.footer--1 {
  width: 100%;
}
footer.footer--1 .footer__nav-row.footer__nav-row--links {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}
footer.footer--1 .footer__nav-row.footer__nav-row--links .footer__nav-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}
footer.footer--1 .footer__nav-row.footer__nav-row--links .footer__nav-column .footer__nav-title {
  cursor: default;
}
footer.footer--1 .footer__nav-row.footer__nav-row--links .footer__nav-column .footer__nav-items {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap: 2px;
}
footer.footer--1 .footer__nav-row.footer__nav-row--global {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 2px;
}
footer.footer--1 .divider {
  margin-top: 16px;
  margin-bottom: 16px;
}
@media screen and (max-width: 1024px) {
  footer.footer--1 .footer__nav-row {
    width: 100%;
  }
  footer.footer--1 .footer__nav-row.footer__nav-row--links {
    flex-direction: column;
    gap: 16px;
  }
  footer.footer--1 .footer__nav-items {
    flex-direction: column;
  }
  footer.footer--1 .footer__nav-row.footer__nav-row--global {
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    gap: 4px;
  }
  footer.footer--1 .footer__nav-item {
    justify-content: flex-start;
  }
}

.section.section-article.section-article--1 .article-container .article__meta {
  max-width: 704px;
  margin: 0 auto;
  padding: 0 24px;
}
.section.section-article.section-article--1 .article-container .article__cover {
  max-width: 100%;
  display: flex;
  justify-content: center;
}
.section.section-article.section-article--1 .article-container .article__cover img {
  margin-top: 32px;
  -o-object-fit: cover;
     object-fit: cover;
  max-height: 600px;
}
.section.section-article.section-article--1 .article-container .article__main {
  max-width: 704px;
  margin: 0 auto;
  font-size: 18px;
  padding: 24px 24px 0;
}
.section.section-article.section-article--1 .article-container .article__main .article__paragraph {
  padding-top: 24px;
}
.section.section-article.section-article--1 .article-container .article__main .article__image {
  padding-top: 24px;
}
.section.section-article.section-article--1 .article-container .article__main .article__image-description {
  font-size: 14px;
  background-color: green;
  padding: 4px;
  border-radius: 8px;
}/*# sourceMappingURL=index.css.map */