// Importing the variables and design foundation to the code.
@use "../../Base/index" as base;


// Hero section 01 CSS.
// For all media queries.
section.hero01 {
  .container {
    display: flex;

    .hero__content {
      .overhead {
        text-transform: uppercase;
      }

      p {
        max-width: 60ch;
      }

      .button-container {
        display: flex;
        gap: base.$whitespace-090;
      }
    }

    .hero__media {

      img {
        max-height: 100%;
        max-width: 100%;
        height: auto;
        object-fit: contain;
      }
    }
  }
}

@media screen and (max-width: 1024px) {
  .section.hero01 {
    .container {
      flex-direction: column-reverse;

      .hero__content {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;

        p {
          margin-top: base.$whitespace-100;
        }

        .button-container {
          margin-top: base.$whitespace-200;
        }

      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .section.hero01 {
    .container {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      gap: base.$whitespace-300;

      .hero__content {
        h1 {
          margin-top: base.$whitespace-090;
          margin-bottom: base.$whitespace-090;
        }

        .button-container {
          margin-top: base.$whitespace-100;
        }
      }

      .hero__media {
        max-width: 50%;
      }
    }
  }

}