// Importing the variables and design foundation to the code.
@use "../../Base/_index" as base;


// The main code for the divider is as follows:
.divider {
  width: 100%;
  height: 1px;
  border-top: 2px solid base.$color_m-dynamic-60;
}


.contained-divider {
  width: 100%;
  height: 1px;
  border-top: 2px solid base.$color_m-dynamic-60;

  @media screen and (max-width: 1440px) {
    max-width: calc(100% - 32px);
    margin: 0 auto;
  }

  @media screen and (min-width:1440px) {
    max-width: calc(1440px - 32px);
    margin: 0 auto;
  }
}