<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../index.css">
    <title>Document</title>
</head>
<!--Major third generally used for landing pages-->

<body class="majorThird">

    <!--Always use section section-name for all the sections-->
    <section class="section section-test">
        <div class="container">

            <!--Always use section__title, and section__description when testing something-->
            <h2 class="section__title">Cards Testing</h2>
            <p class="section__description">Checking how cards will look on different grids and conditions. Testing on
                grid 1 container.</p>

            <!--The main testing content will reside inside the section__content. Add with relevant classes behind section__content-->
            <div class="section__content grid1-container">
                
                <!--Main testing starts here-->
                <div class="card card-feature-1">
                    <div class="card__image-wrapper">
                        <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                            <g id="SVGRepo_iconCarrier">
                                <path
                                    d="M19 10C19 13.866 15.866 17 12 17C8.13401 17 5 13.866 5 10M19 10C19 6.13401 15.866 3 12 3C8.13401 3 5 6.13401 5 10M19 10V14.7998V16.1998C19 17.88 19 18.72 18.673 19.3618C18.3854 19.9263 17.9265 20.3852 17.362 20.6728C16.7202 20.9998 15.8802 20.9998 14.2 20.9998H9.8C8.11984 20.9998 7.27976 20.9998 6.63803 20.6728C6.07354 20.3852 5.6146 19.9263 5.32698 19.3618C5 18.72 5 17.88 5 16.1998V14.7998V10M12 7V10L14 11.5"
                                    stroke="#ffffff" stroke-width="1" stroke-linecap="round" stroke-linejoin="round">
                                </path>
                            </g>
                        </svg>
                    </div>
                    <div class="card__content-wrapper">
                        <div class="card__title">Personalized Programs</div>
                        <div class="card__description">We understand that everyone's wellness journey is unique. Our
                            personalized programs are tailored to your individual needs.</div>
                        <div class="card__actions">
                            <a href="#" class="button button--solid">Learn more</a>
                        </div>
                    </div>
                </div>
                <!--Main testing ends here-->
                
            </div>
        </div>
    </section>

    <!--Main testing ends here-->
    <section class="section section--info">
        <div class="container">
            <h2 class="section__title">Informative Notice</h2>
            <div class="section__description">
                In a single area, don't have more than one solid button. It's advised that if you need more than 1
                buttons clustered, use outlined buttons.
            </div>
        </div>
    </section>

</body>

</html>