// Dependencies:
@use "../../Base/index" as base;


// Client section design.
.client01 {
  .container {
    margin-top: 24px;

    .section__detail {
      .section__description {
        margin-top: 8px;
      }
    }

    .client-group {
      margin-top: 1rem;
      display: grid;
      gap: 1rem;

      .client {
        box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 16px;
        border-radius: 4px;


        .client__logo {
          height: 96px;
          object-fit: contain;
          border-radius: 4px;
        }
      }
    }
  }
}


@media screen and (max-width: 320px) {
  .client-group {
    grid-template-columns: 1fr;
  }
}

@media screen and (min-width: 320.001px) and (max-width: 768px) {
  .client-group {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 768.001px) {
  .client-group {
    grid-template-columns: repeat(4, 1fr);
  }
}