// Importing the variables and design foundation to the code.
@use "../../Base/index" as base;


// Variables to be used only for the Solid Buttons
$button-solid-color: var(--color-m-dynamic-98);
$button-solid-background-color: var(--color-m-dynamic-50);
$button-solid-background-color--hover: var(--color-m-dynamic-40);
$button-solid-background-color--active: var(--color-m-dynamic-30);
// Variables to be used only for the Tint Buttons
$button-tint-color: var(--color-m-dynamic-2);
$button-tint-background-color: var(--color-m-dynamic-80);
$button-tint-background-color--hover: var(--color-m-dynamic-70);
$button-tint-background-color--active: var(--color-m-dynamic-60);
// Variable to be used only for the Outline Buttons
$button-outline-color: var(--color-m-dynamic-2);
$button-outline-background-color: var(--color-n-transparent);
$button-outline-background-color--hover: var(--color-m-dynamic-90);
$button-outline-background-color--active: var(--color-m-dynamic-80);
$button-outline-border-color: var(--color-m-dynamic-40);
$button-outline-border-color--hover: var(--color-m-dynamic-90);
$button-outline-border-color--active: var(--color-m-dynamic-80);
// Variables to be used onlt for the Plain Buttons
$button-plain-color: var(--color-m-dynamic-2);
$button-plain-background-color: var(--color-n-transparent);
$button-plain-background-color--hover: var(--color-m-dynamic-90);
$button-plain-background-color--active: var(--color-m-dynamic-80);
// Variable for transtition on All Buttons
$button-transtition: all 400ms ease;
$button-spacing: base.$spacing;


// The main code for the buttons starts here.
.button {
  height: 44px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 $button-spacing;
  border: none;
  border-radius: 24px;
  gap: 8px;

  .button__icon {
    border-radius: 0px;
    max-height: 24px;
    max-width: 24px;
  }

  .button__label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}


.button--disabled {
  opacity: 0.3;
  border: none;
  cursor: not-allowed;
  color: inherit;
  background-color: inherit;

  &:hover {
    color: inherit;
    background-color: inherit;
  }

  &:active {
    color: inherit;
    background-color: inherit;
  }
}

// For the button type solid. button==solid.
.button--solid {
  @extend .button;
  border: none;
  transition: $button-transtition;

  @media (prefers-color-scheme: light) {
    color: var(--color-m-dynamic-98);
    background-color: var(--color-m-dynamic-40);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--color-m-dynamic-2);
    background-color: var(--color-m-dynamic-70);
  }


  &:hover {
    border: none;

    @media (prefers-color-scheme: light) {
      color: var(--color-m-dynamic-98);
      background-color: var(--color-m-dynamic-30);
    }

    @media (prefers-color-scheme: dark) {
      color: var(--color-m-dynamic-2);
      background-color: var(--color-m-dynamic-70);
    }
  }


  &:active,
  &--active {
    border: none;

    @media (prefers-color-scheme: light) {
      color: var(--color-m-dynamic-98);
      background-color: var(--color-m-dynamic-20);
    }

    @media (prefers-color-scheme: dark) {
      color: var(--color-m-dynamic-2);
      background-color: var(--color-m-dynamic-80);
    }
  }

  &:disabled,
  &--disabled,
  &[aria-disabled="true"] {
    @extend .button--disabled;
  }
}


// For the button type tint. button--tint.
.button--tint {
  @extend .button;
  border: none;
  color: $button-tint-color;
  background-color: $button-tint-background-color;
  transition: $button-transtition;

  &:hover {
    border: none;
    color: $button-tint-color;
    background-color: $button-tint-background-color--hover;
  }

  &:active,
  &--active {
    border: none;
    color: $button-tint-color;
    background-color: $button-tint-background-color--active;
  }

  &:disabled,
  &--disabled,
  &[aria-disabled="true"] {
    @extend .button--disabled;
  }
}



// For the button type outline. button--outline.
.button--outline {
  @extend .button;
  color: $button-outline-color;
  border: 1px solid $button-outline-border-color;
  background-color: $button-outline-background-color;
  transition: $button-transtition;

  &:hover {
    color: $button-outline-color;
    border-color: $button-outline-border-color--hover;
    background-color: $button-outline-background-color--hover;
  }

  &:active,
  &--active {
    color: $button-outline-color;
    border-color: $button-outline-border-color--active;
    background-color: $button-outline-background-color--active;
  }

  &:disabled,
  &--disabled,
  &[aria-disabled="true"] {
    @extend .button--disabled;
  }
}


// For the button type plain. button--plain.
.button--plain {
  @extend .button;
  color: $button-plain-color;
  border: none;
  background-color: $button-plain-background-color;
  transition: $button-transtition;

  &:hover {
    color: $button-plain-color;
    border: none;
    background-color: $button-plain-background-color--hover;
  }

  &:active,
  &--active {
    color: $button-plain-color;
    border: none;
    background-color: $button-plain-background-color--active;
  }

  &:disabled,
  &--disabled,
  &[aria-disabled="true"] {
    @extend .button--disabled;
  }
}