// Importing the variables and design foundation to the code.
@use "../../Base/index" as base;


// Variable for transtition on All Buttons
$button-transtition: all 400ms ease;
$button-spacing: base.$spacing;


// The main code for the buttons starts here.
.button {
  height: 44px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 $button-spacing;
  border: none;
  border-radius: 24px;
  gap: 8px;

  .button__icon {
    border-radius: 0px;
    max-height: 24px;
    max-width: 24px;
  }

  .button__label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}


.button--disabled {
  opacity: 0.3;
  border: none;
  cursor: not-allowed;
  color: inherit;
  background-color: inherit;

  &:hover {
    color: inherit;
    background-color: inherit;
  }

  &:active {
    color: inherit;
    background-color: inherit;
  }
}

// For the button type solid. button==solid.
.button--solid {
  @extend .button;
  border: none;
  transition: $button-transtition;

  @media (prefers-color-scheme: light) {
    color: var(--color-m-dynamic-98);
    background-color: var(--color-m-dynamic-30);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--color-m-dynamic-2);
    background-color: var(--color-m-dynamic-70);
  }


  &:hover {
    border: none;

    @media (prefers-color-scheme: light) {
      color: var(--color-m-dynamic-98);
      background-color: var(--color-m-dynamic-20);
    }

    @media (prefers-color-scheme: dark) {
      color: var(--color-m-dynamic-2);
      background-color: var(--color-m-dynamic-80);
    }
  }


  &:active,
  &--active {
    border: none;

    @media (prefers-color-scheme: light) {
      color: var(--color-m-dynamic-98);
      background-color: var(--color-m-dynamic-10);
    }

    @media (prefers-color-scheme: dark) {
      color: var(--color-m-dynamic-2);
      background-color: var(--color-m-dynamic-90);
    }
  }

  &:disabled,
  &--disabled,
  &[aria-disabled="true"] {
    @extend .button--disabled;
  }
}


// For the button type tint. button--tint.
.button--tint {
  @extend .button;
  border: none;
  transition: $button-transtition;

  @media (prefers-color-scheme: light) {
    color: var(--color-m-dynamic-98);
    background-color: var(--color-m-dynamic-60);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--color-m-dynamic-2);
    background-color: var(--color-m-dynamic-40);
  }

  &:hover {
    border: none;

    @media (prefers-color-scheme: light) {
      color: var(--color-m-dynamic-98);
      background-color: var(--color-m-dynamic-50);
    }
  
    @media (prefers-color-scheme: dark) {
      color: var(--color-m-dynamic-2);
      background-color: var(--color-m-dynamic-50);
    }
  }

  &:active,
  &--active {
    border: none;
    
    @media (prefers-color-scheme: light) {
      color: var(--color-m-dynamic-98);
      background-color: var(--color-m-dynamic-40);
    }
  
    @media (prefers-color-scheme: dark) {
      color: var(--color-m-dynamic-2);
      background-color: var(--color-m-dynamic-60);
    }
  }

  &:disabled,
  &--disabled,
  &[aria-disabled="true"] {
    @extend .button--disabled;
  }
}



// For the button type outline. button--outline.
.button--outline {
  @extend .button;
  transition: $button-transtition;

  @media (prefers-color-scheme: light) {
    color: var(--color-m-dynamic-2);
    border: 1px solid var(--color-m-dynamic-20);
    background-color: var(--color-n-transparent);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--color-m-dynamic-98);
    border: 1px solid var(--color-m-dynamic-80);
    background-color: var(--color-n-transparent);
  }


  &:hover {
    @media (prefers-color-scheme: light) {
      color: var(--color-m-dynamic-2);
      border: 1px solid var(--color-m-dynamic-30);
      background-color: var(--color-m-dynamic-80);
    }
  
    @media (prefers-color-scheme: dark) {
      color: var(--color-m-dynamic-98);
      border: 1px solid var(--color-m-dynamic-70);
      background-color: var(--color-m-dynamic-20);
    }
  }

  &:active,
  &--active {
    @media (prefers-color-scheme: light) {
      color: var(--color-m-dynamic-2);
      border: 1px solid var(--color-m-dynamic-40);
      background-color: var(--color-m-dynamic-70);
    }
  
    @media (prefers-color-scheme: dark) {
      color: var(--color-m-dynamic-98);
      border: 1px solid var(--color-m-dynamic-60);
      background-color: var(--color-m-dynamic-30);
    }
  }

  &:disabled,
  &--disabled,
  &[aria-disabled="true"] {
    @extend .button--disabled;
  }
}


// For the button type plain. button--plain.
.button--plain {
  @extend .button;
  border: none;
  transition: $button-transtition;
  
  @media (prefers-color-scheme: light) {
    color: var(--color-m-dynamic-2);
    background-color: var(--color-n-transparent);
  }

  @media (prefers-color-scheme: dark) {
    color: var(--color-m-dynamic-98);
    background-color: var(--color-n-transparent);
  }

  &:hover {
    @media (prefers-color-scheme: light) {
      color: var(--color-m-dynamic-2);
      background-color: var(--color-m-dynamic-80);
    }
  
    @media (prefers-color-scheme: dark) {
      color: var(--color-m-dynamic-98);
      background-color: var(--color-m-dynamic-20);
    }
  }

  &:active,
  &--active {
    @media (prefers-color-scheme: light) {
      color: var(--color-m-dynamic-2);
      background-color: var(--color-m-dynamic-70);
    }
  
    @media (prefers-color-scheme: dark) {
      color: var(--color-m-dynamic-98);
      background-color: var(--color-m-dynamic-30);
    }

  }

  &:disabled,
  &--disabled,
  &[aria-disabled="true"] {
    @extend .button--disabled;
  }
}