// Client section design.
.grid4-container {
  display: grid;
  gap: 1rem;



  @media screen and (max-width: 320px) {
    grid-template-columns: 1fr;
  }

  @media screen and (min-width: 320px) and (max-width: 768px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media screen and (min-width: 768px) and (max-width: 1440px) {
    grid-template-columns: repeat(3, 1fr);
  }

  @media screen and (min-width: 1440px) {
    grid-template-columns: repeat(4, 1fr);
  }
}