// Import dependencies.
@import "grid";


// Set grid fixed to autofill 250px.
.grid-autofill-250 {
  @extend .grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-template-rows: auto;
}

// Set grid fixed to autofill 300px.
.grid-autofill-300 {
  @extend .grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-template-rows: auto;
}

// Set grid fixed to autofill 350px.
.grid-autofill-350 {
  @extend .grid;
  grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  grid-template-rows: auto;
}

// Set grid fixed to autofill 400px.
.grid-autofill-400 {
  @extend .grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  grid-template-rows: auto;
}

// Set grid fixed to autofill 450px.
.grid-autofill-450 {
  @extend .grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  grid-template-rows: auto;
}

// Set grid fixed to autofill 500px.
.grid-autofill-500 {
  @extend .grid;
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
  grid-template-rows: auto;
}


// Set the card height to grid height.
.grid-autofill-250,
.grid-autofill-300,
.grid-autofill-350,
.grid-autofill-400,
.grid-autofill-450,
.grid-autofill-500 {
    align-items: stretch;
}