// Use the following in this articles.
@use "../../Base/index" as base;
@use "../../Components/index" as components;



.section.section-articles.section-articles--1 {

    .articles {
        display: grid;
        gap: 16px;

        .article {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            border-radius: 16px;
            border: 1px solid #e0e0e0;

            .article__media {
                max-width: 100%;
                overflow: hidden;

                img {
                    border-radius: 0px;
                    width: 100%;
                    height: auto;
                    transition: transform 500ms;
                }
            }

            .article__content {
                display: flex;
                flex-direction: column;
                padding: 16px;


                .article__category {
                    @extend .chip;
                }

                .article__title {
                    font-size: 1.2rem;
                    font-weight: bold;
                    text-decoration: none;
                    color: black;
                    margin-top: base.$spacing-less-1;
                }

                .article__description {
                    font-size: 1rem;
                    margin-top: base.$spacing-less-1;
                }

                .article__published-on {
                    margin-top: base.$spacing-less-1;
                }

                .article__read-time {
                    @extend .caption;
                }
            }
        }
    }

    .article:hover {
        .article__media>img {
            transform: scale(1.05);
            transition: transform 500ms;
        }

        .article__content>.article__title {
            color: var(--color_m-dynamic-20);
            transition: color 500ms;
        }
    }

    @media screen and (max-width: 640px) {
        .articles {
            grid-template-columns: repeat(1, 1fr);
        }
    }

    @media screen and (min-width: 640px) and (max-width: 1024px) {
        .articles {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    @media screen and (min-width: 1024px) and (max-width: 1440px) {
        .articles {
            grid-template-columns: repeat(3, 1fr);
        }
    }

    @media screen and (min-width: 1440px){
        .articles {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}