// Importing design foundation
@use "../../Base/index" as base;

// SCSS for the header, applicable to all screen sizes
header.header.header--1 {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    height: auto;
    min-height: 64px;
    box-shadow: 0 2px 4px var(--color-m-dynamic-85);
    background-color: var(--color-m-dynamic-100);

    .container .header__aod .header__logo {
        font-size: 24px;
        font-weight: bold;
        color: var(--color-m-dynamic-30);
    }

    // Header for mobile devices.
    @media screen and (max-width: 1024px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
        }

        .header__aod {
            width: 100%;
            height: 64px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header__toggle-container {
            display: block;
        }

        .header__toggle-button {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .header__toggle-icon {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 24px;
            height: 24px;
            cursor: pointer;
        }

        .toggle__bar {
            position: absolute;
            width: 24px;
            height: 3px;
            background-color: var(--color-m-dynamic-35);
            border-radius: 8px;
            transition: transform 1000ms ease;
        }

        .toggle__bar:nth-child(1) {
            top: 6px;
        }

        .toggle__bar:nth-child(2) {
            bottom: 6px;
        }

        .header__toggle-button--clicked .toggle__bar:first-child {
            top: calc(50% - 1.5px);
            transform: rotate(45deg);
        }

        .header__toggle-button--clicked .toggle__bar:last-child {
            bottom: calc(50% - 1.5px);
            transform: rotate(-45deg);
        }

        .header__nav {
            height: 0;
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            opacity: 0;
            border-top: 0 solid var(--color-m-dynamic-50);
            transition: all 1000ms ease;
            gap: 8px;

            .button {
                width: 100%;
                flex-direction: row;
                justify-content: flex-start;
                border-radius: 8px;
            }
        }

        .header__nav--open {
            border-top: 2px solid var(--color-m-dynamic-50);
            height: 100vh;
            padding: 16px 0;
            opacity: 1;
        }
    }

    // Header for bigger .
    @media screen and (min-width: 1024px) {
        overflow: hidden;

        .container {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            height: 64px;
        }

        .header__aod {
            display: block;
        }

        .header__toggle-container {
            display: none;
        }

        .header__nav {
            display: flex;
            gap: base.$spacing-less-2;
            flex-direction: row;
            align-items: center;
        }
    }

    // SCSS for the toggle button
    .header__toggle-container .header__toggle-button .toggle-icon {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 24px;
        height: 24px;
        cursor: pointer;
    }

    .toggle__bar {
        position: absolute;
        width: 24px;
        height: 3px;
        background-color: var(--color-m-dynamic-35);
        border-radius: 8px;
        transition: transform 1000ms ease;
    }

    .toggle__bar:first-child {
        top: 6px;
    }

    .toggle__bar:last-child {
        bottom: 6px;
    }
}