// Importing the variables and design foundation to the code.
@use "../../Base/index" as base;


// Variables to be used only for the Solid Buttons
$button-solid-color: base.$color_m-dynamic-99;
$button-solid-background-color: base.$color_m-dynamic-50;
$button-solid-background-color--hover: base.$color_m-dynamic-40;
$button-solid-background-color--active: base.$color_m-dynamic-30;
// Variables to be used only for the Tint Buttons
$button-tint-color: base.$color_m-dynamic-1;
$button-tint-background-color: base.$color_m-dynamic-80;
$button-tint-background-color--hover: base.$color_m-dynamic-70;
$button-tint-background-color--active: base.$color_m-dynamic-60;
// Variable to be used only for the Outline Buttons
$button-outline-color: base.$color_m-dynamic-1;
$button-outline-background-color: base.$color_n-transparent;
$button-outline-background-color--hover: base.$color_m-dynamic-95;
$button-outline-background-color--active: base.$color_m-dynamic-90;
$button-outline-border-color: base.$color_m-dynamic-40;
$button-outline-border-color--hover: base.$color_m-dynamic-30;
$button-outline-border-color--active: base.$color_m-dynamic-20;
// Variables to be used onlt for the Plain Buttons
$button-plain-color: base.$color_m-dynamic-1;
$button-plain-background-color: base.$color_n-transparent;
$button-plain-background-color--hover: base.$color_m-dynamic-95;
$button-plain-background-color--active: base.$color_m-dynamic-90;
// Variable for transtition on All Buttons
$button-transtition: all 400ms ease;
$button-spacing: base.$spacing;


// The main code for the buttons starts here.
.button {
  height: 44px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: $button-spacing;
  border: none;
  border-radius: 24px;
  gap: 8px;
}

.button__icon {
  border-radius: 0px;
  max-height: 24px;
  max-width: 24px;
}

.button__label {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


// For the button type solid. button==solid.
.button--solid {
  @extend .button;
  border: none;
  color: $button-solid-color;
  background-color: $button-solid-background-color;
  transition: $button-transtition;

  &:hover {
    border: none;
    color: $button-solid-color;
    background-color: $button-solid-background-color--hover;
  }

  &:active,
  &--active {
    border: none;
    color: $button-solid-color;
    background-color: $button-solid-background-color--active;
  }

  &:disabled,
  &--disabled,
  &[aria-disabled="true"] {
    opacity: 0.3;
    border: none;
    cursor: not-allowed;
    color: $button-solid-color;
    background-color: $button-solid-background-color;

    &:hover {
      color: inherit;
      background-color: inherit;
    }

    &:active {
      color: inherit;
      background-color: inherit;
    }
  }
}


// For the button type tint. button--tint.
.button--tint {
  @extend .button;
  border: none;
  color: $button-tint-color;
  background-color: $button-tint-background-color;
  transition: $button-transtition;

  &:hover {
    border: none;
    color: $button-tint-color;
    background-color: $button-tint-background-color--hover;
  }

  &:active,
  &--active {
    border: none;
    color: $button-tint-color;
    background-color: $button-tint-background-color--active;
  }

  &:disabled,
  &--disabled,
  &[aria-disabled="true"] {
    border: none;
    color: $button-tint-color;
    background-color: $button-tint-background-color;
    opacity: 0.3;
    cursor: not-allowed;
  }
}



// For the button type outline. button--outline.
.button--outline {
  @extend .button;
  color: $button-outline-color;
  border: 1px solid $button-outline-border-color;
  background-color: $button-outline-background-color;
  transition: $button-transtition;

  &:hover {
    color: $button-outline-color;
    border-color: $button-outline-border-color--hover;
    background-color: $button-outline-background-color--hover;
  }

  &:active,
  &--active {
    color: $button-outline-color;
    border-color: $button-outline-border-color--active;
    background-color: $button-outline-background-color--active;
  }

  &:disabled,
  &--disabled,
  &[aria-disabled="true"] {
    color: $button-outline-color;
    border-color: $button-outline-border-color;
    background-color: $button-outline-background-color;
    opacity: 0.3;
    cursor: not-allowed;
  }
}


// For the button type plain. button--plain.
.button--plain {
  @extend .button;
  color: $button-plain-color;
  border: none;
  background-color: $button-plain-background-color;
  transition: $button-transtition;

  &:hover {
    color: $button-plain-color;
    border: none;
    background-color: $button-plain-background-color--hover;
  }

  &:active,
  &--active {
    color: $button-plain-color;
    border: none;
    background-color: $button-plain-background-color--active;
  }

  &:disabled,
  &--disabled,
  &[aria-disabled="true"] {
    color: $button-plain-color;
    border: none;
    background-color: $button-plain-background-color;
    opacity: 0.3;
    cursor: not-allowed;
  }
}