<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../index.css">
    <title>Document</title>
</head>
<!--Major third generally used for landing pages-->

<body class="majorThird">

    <!--Always use section section-name for all the sections-->
    <section class="section section-test">
        <div class="container">

            <!--Always use section__title, and section__description when testing something-->
            <h2 class="section__title">Cards Testing</h2>
            <p class="section__description">Checking for articles card 1.</p>

            <!--The main testing content will reside inside the section__content. Add with relevant classes behind section__content-->
            <div class="section__content grid1-container">
                <!--Main testing starts here-->

                <!--This is an articles card (card, card-articles-1)-->
                <div class="card card-article-1">   
                    <div class="card__image-wrapper">
                        <img src="https://themewagon.github.io/travelista/img/b2.jpg" alt="It's Classified How To Utilize Free" class="card__image">
                    </div>
                    <div class="card__content-wrapper">
                        <div class="card__chips">
                            <span class="chip">Travel</span>
                        </div>
                        <h3 class="card__title">Creative Outdoor Ads</h3>
                        <p class="card__description">Acres of Diamonds... you've read the famous story, or at least had
                            it related to you. A farmer</p>
                        <span class="card__meta">31st January,2018</span>
                    </div>
                </div>
                <!--Main testing ends here-->

            </div>
        </div>
    </section>

    <section class="section section--info">
        <div class="container">
            <h2 class="section__title">Informative Notice</h2>
            <div class="section__description">
                In a single area, don't have more than one solid button. It's advised that if you need more than 1
                buttons clustered, use outlined buttons.
            </div>
        </div>
    </section>

</body>

</html>