// Importing the variables and design foundation to the code.
@use "../../Base/index" as base;

// Variables for the color of the Chips.
$chip-color: var(--color-m-dynamic-40);
$chip-border-color: var(--color-m-dynamic-40);
$chip-background-color: var(--color-n-transparent);

$chip-color--hover: var(--color-m-dynamic-30);
$chip-border-color--hover: var(--color-m-dynamic-30);
$chip-background-color--hover: var(--color-m-dynamic-95);

$chip-color--active: var(--color-m-dynamic-20);
$chip-border-color--active: var(--color-m-dynamic-20);
$chip-background-color--active: var(--color-m-dynamic-90);

// Variable for transition on All chips
$chip-transition: all 400ms ease;

// The main code for the chips starts here.
.chip {
  height: 32px;
  max-height: 32px;
  min-width: 48px;
  max-width: fit-content;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 16px;
  padding-left: 16px;
  padding-right: 16px;
  gap: 8px;

  color: $chip-color;
  border: 1px solid $chip-border-color;
  background-color: $chip-background-color;
  transition: $chip-transition;

  &:hover {
    color: $chip-color--hover;
    border-color: $chip-border-color--hover;
    background-color: $chip-background-color--hover;
  }

  &:active,
  &--active {
    color: $chip-color--active;
    border-color: $chip-border-color--active;
    background-color: $chip-background-color--active;
  }

  &:disabled,
  &--disabled,
  &[aria-disabled="true"] {
    color: $chip-color;
    border-color: $chip-border-color;
    background-color: $chip-background-color;
    opacity: 0.3;
    cursor: not-allowed;
  }
}