<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../index.css">
    <title>Document</title>
</head>
<!--Major third generally used for landing pages-->

<body class="majorThird">

    <!--Always use section section-name for all the sections-->
    <section class="section section-test">
        <div class="container">

            <!--Always use section__title, and section__description when testing something-->
            <h2 class="section__title">Chips Testing</h2>
            <p class="section__description">Checking for chips default and small.</p>

            <!--The main testing content will reside inside the section__content. Add with relevant classes behind section__content-->
            <div class="section__content grid1-container">
                <!--Main testing starts here-->

                <!--This is chip default (chip)-->
                <p>The below chip is a default sized chip.</p>
                <a href="./explore/hello" class="chip">Hello</a>
                <br><br><br>

                <!--This is chip small (chip, chip--small)-->
                <p>The below chip is a small sized chip.</p>
                <a href="./explore/hello" class="chip chip--small">Hello</a>

                <!--Main testing ends here-->

            </div>
        </div>
    </section>

    <section class="section section--info">
        <div class="container">
            <h2 class="section__title">Informative Notice</h2>
            <div class="section__description">
                In a single area, don't have more than one solid button. It's advised that if you need more than 1
                buttons clustered, use outlined buttons.
            </div>
        </div>
    </section>

</body>

</html>