/*
===================================================>
HTML Structure of Card 4 Start.
===================================================>

<div class="card-4">
    <div class="card__image-wrapper">
        <img src="https://t3.ftcdn.net/jpg/02/99/04/20/360_F_299042079_vGBD7wIlSeNl7vOevWHiL93G4koMM967.jpg" class="card__image" alt="Photo of {MemberName}">
    </div>
    <p class="card__title">Member Name</p>
    <p class="card__subtitle">Members Position</p>
</div>

===================================================>
HTML Structure of Card 4 End.
===================================================>
*/



/*
===================================================>
Card 4 Styles Imports.
===================================================>
*/
@use "../../Base/index.scss" as base;



// Card 4 Styles
.card-4 {
    .card__image-wrapper {
        border-radius: 16px;
        overflow: hidden;

        .card__image {
            width: 100%;
            height: auto;
            transition: transform 500ms;
        }
    }

    .card__title {
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 1rem;
    }

    .card__subtitle {
        font-size: 1rem;
        font-weight: 500;
        margin-top: 0.25rem;
    }

    &:hover {
        .card__image-wrapper {
            .card__image {
                transform: scale(1.05);
                transition: transform 500ms;
            }
        }
    }
}