// Card Item. Card 1.
.card.card-1 {
    background-color: var(--color-m-dynamic-15);
    border-radius: 8px;
    overflow: hidden;
    /* Crucial for clipping the zoomed image */
    display: flex;
    flex-direction: column;
    gap: 4px;
    cursor: pointer;

    /* Indicates it's interactive */
    @media screen and (prefers-color-scheme: light) {
        box-shadow: 0 4px 8px var(--color-m-dynamic-5);
        background-color: var(--color-m-dynamic-15);
    }

    @media screen and (prefers-color-scheme: light) {
        box-shadow: 0 4px 8px var(--color-m-dynamic-95);
        background-color: var(--color-m-dynamic-85);
    }

    /* Card Image */
    .card__image-wrapper {
        width: 100%;
        border-radius: 0;
        object-fit: cover;
        display: block;
        overflow: hidden;

        .card__image {
            width: 100%;
            height: auto;
            max-height: 200px;
            /* Adjust height as needed */
            border-radius: 0;
            object-fit: cover;
            display: block;
            /* Added for smooth zoom transition */
            transition: transform 0.3s ease-in-out;
        }
    }

    .card__content-wrapper {
        padding: 24px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .card__chips {
            display: flex;
            flex-wrap: wrap;
            gap: 8px;
        }

        /* Card Title */
        .card__title {
            margin: 0;
            font-size: 1.3em;

            @media screen and (prefers-color-scheme: light) {
                color: var(--color-m-dynamic-10);
            }

            @media screen and (prefers-color-scheme: dark) {
                color: var(--color-m-dynamic-90);
            }
        }

        /* Card Description */
        .card__description {
            font-size: 0.95em;
            line-height: 1.5;
            /* Allows description to take up available space */

            @media screen and (prefers-color-scheme: light) {
                color: var(--color-m-dynamic-20);
            }

            @media screen and (prefers-color-scheme: dark) {
                color: var(--color-m-dynamic-80);
            }
        }

        /* Card Date */
        .card__meta {
            font-size: 0.8em;

            @media screen and (prefers-color-scheme: light) {
                color: var(--color-m-dynamic-20);
            }

            @media screen and (prefers-color-scheme: dark) {
                color: var(--color-m-dynamic-80);
            }
        }

    }

    /* Hover effect on the image when the card item is hovered */
    &:hover {
        .card__image {
            /* Zooms the image content by 10% */
            transform: scale(1.1);
        }
    }
}