// Dependencies
@use "../../Base/index.scss" as base;

// Card 4 Styles
.card-4 {
    .card__image-wrapper {
        border-radius: 16px;
        overflow: hidden;

        .card__image {
            width: 100%;
            height: auto;
            transition: transform 500ms;
        }
    }

    .card__title {
        font-size: 1.2rem;
        font-weight: 600;
        margin-top: 1rem;
    }

    .card__subtitle {
        font-size: 1rem;
        font-weight: 500;
        margin-top: 0.25rem;
    }

    &:hover {
        .card__image-wrapper {
            .card__image {
                transform: scale(1.05);
                transition: transform 500ms;
            }
        }
    }
}