<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section class="section">
        <div class="container grid4-container">

            <div class="card-1">
                <div class="card__image-wrapper">
                    <img src="https://themewagon.github.io/travelista/img/b2.jpg"
                        alt="It's Classified How To Utilize Free" class="card__image">
                </div>
                <div class="card__content-wrapper">

                    <h3 class="card__title">Creative Outdoor Ads</h3>
                    <p class="card__description">Acres of Diamonds... you've read the famous story, or at least had it
                        related to
                        you. A farmer</p>
                    <span class="card__meta">31st January,2018</span>
                </div>
            </div>

        </div>
    </section>

</body>

</html>