<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section class="section">
        <div class="container grid4-container">


            <div class="card-3">
                <div class="card__image-wrapper">
                    <img src="Group 1.png" alt="" class="card__image">
                </div>
                <div class="card__description">
                    Booked my whole Pokhara trip in minutes. Easy, local, and way cheaper than I expected. Tourio is a
                    game-changer!
                </div>
                <div class="card__published-by">Aakash Bhattarai</div>
                <div class="card__published-on">On year 2025</div>
            </div>


        </div>
    </section>

</body>

</html>