<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section class="section">
        <div class="container grid4-container">


            <div class="card-2">
                <img src="https://logowik.com/content/uploads/images/pathao3898.logowik.com.webp" class="card__image"
                    alt="Client 01">
            </div>

            
        </div>
    </section>

</body>

</html>