<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../../index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>

    <section class="section">
        <div class="container grid4-container">


            <div class="card-4">
                <div class="card__image-wrapper">
                    <img src="https://t3.ftcdn.net/jpg/02/99/04/20/360_F_299042079_vGBD7wIlSeNl7vOevWHiL93G4koMM967.jpg"
                        class="card__image" alt="Photo of {MemberName}">
                </div>
                <p class="card__title">Member Name</p>
                <p class="card__subtitle">Members Position</p>
            </div>


        </div>
    </section>

</body>

</html>