<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../index.css">
    <title>Document</title>
</head>
<!--Major third generally used for landing pages-->

<body class="majorThird">

    <!--Always use section section-name for all the sections-->
    <section class="section section-test">
        <div class="container">

            <!--Always use section__title, and section__description when testing something-->
            <h2 class="section__title">Cards Testing</h2>
            <p class="section__description">Checking for .card.card-1</p>

            <!--The main testing content will reside inside the section__content. Add with relevant classes behind section__content-->
            <div class="section__content grid-autofill-300">
                <!--Main testing starts here-->

                <!--This is an articles card (card, card-articles-1)-->
                <div class="card card-1">
                    <div class="card__image-wrapper">
                        <img src="https://themewagon.github.io/travelista/img/b2.jpg"
                            alt="It's Classified How To Utilize Free" class="card__image">
                    </div>
                    <div class="card__content-wrapper">
                        <div class="card__chips">
                            <span class="chip">Travel</span>
                        </div>
                        <h3 class="card__title">Creative Outdoor Ads</h3>
                        <p class="card__description">Acres of Diamonds... you've read the famous story, or at least had
                            it related to you. A farmer</p>
                        <span class="card__meta">31st January,2018</span>
                    </div>
                </div>
                <!--Main testing ends here-->

            </div>
        </div>
    </section>


    <!--Always use section section-name for all the sections-->
    <section class="section section-test">
        <div class="container">

            <!--Always use section__title, and section__description when testing something-->
            <h2 class="section__title">Cards Testing</h2>
            <p class="section__description">Checking for .card.card-2</p>

            <!--The main testing content will reside inside the section__content. Add with relevant classes behind section__content-->
            <div class="section__content grid-autofill-300">

                <!--Main testing starts here-->
                <div class="card card-client-1">
                    <img src="https://logowik.com/content/uploads/images/pathao3898.logowik.com.webp"
                        class="card__image" alt="Client 01">
                </div>
                <!--Main testing ends here-->

            </div>
        </div>
    </section>

    <!--Always use section section-name for all the sections-->
    <section class="section section-test">
        <div class="container">

            <!--Always use section__title, and section__description when testing something-->
            <h2 class="section__title">Cards Testing</h2>
            <p class="section__description">Testing on .card.card-3</p>

            <!--The main testing content will reside inside the section__content. Add with relevant classes behind section__content-->
            <div class="section__content grid-autofill-300">

                <!--Main testing starts here-->
                <div class="card card-3">
                    <div class="card__image-wrapper">
                        <img src="https://cdn-icons-png.flaticon.com/512/6928/6928921.png" class="card__image">
                    </div>
                    <div class="card__content-wrapper">
                        <div class="card__title">Personalized Programs</div>
                        <div class="card__description">We understand that everyone's wellness journey is unique. Our
                            personalized programs are tailored to your individual needs.</div>
                        <div class="card__actions">
                            <a href="#" class="button button--solid">Learn more</a>
                        </div>
                    </div>
                </div>
                <!--Main testing ends here-->

            </div>
        </div>
    </section>

    <!--Always use section section-name for all the sections-->
    <section class="section section-test">
        <div class="container">

            <!--Always use section__title, and section__description when testing something-->
            <h2 class="section__title">Cards Testing</h2>
            <p class="section__description">Testing for .card.card-4</p>

            <!--The main testing content will reside inside the section__content. Add with relevant classes behind section__content-->
            <div class="section__content grid-autofill-300">

                <!--Main testing starts here-->
                <div class="card card-4">
                    <div class="card__image-wrapper">
                        <img src="https://admin.ntb.gov.np/image-cache/KDS_oy_lt_(1)-1631095017.jpg?p=main&s=3b13becca2e45fb61e28d3207a8aefff"
                            alt="Kathmandu" class="card__image">
                        <div class="card__title">Kathmandu, Nepal</div>
                    </div>
                </div>
                <!--Main testing ends here-->

            </div>
        </div>
    </section>

    <!--Always use section section-name for all the sections-->
    <section class="section section-test">
        <div class="container">

            <!--Always use section__title, and section__description when testing something-->
            <h2 class="section__title">Cards Testing</h2>
            <p class="section__description">Testing for .card.card-5</p>

            <!--The main testing content will reside inside the section__content. Add with relevant classes behind section__content-->
            <div class="section__content grid-autofill-300">

                <!--Main testing starts here-->
                <div class="card card-5">
                    <div class="card__image-wrapper">
                        <img src="https://t3.ftcdn.net/jpg/02/99/04/20/360_F_299042079_vGBD7wIlSeNl7vOevWHiL93G4koMM967.jpg"
                            class="card__image" alt="Photo of {MemberName}">
                    </div>
                    <p class="card__title">Non Transparent Photo</p>
                    <p class="card__subtitle">Quality Assurance Engineer</p>
                </div>
                <!--Main testing ends here-->

                <!--Secondary testing starts here-->
                <div class="card card-5">
                    <div class="card__image-wrapper">
                        <img src="https://www.pngall.com/wp-content/uploads/2016/04/Happy-Person-Free-Download-PNG.png"
                            class="card__image" alt="Photo of {MemberName}">
                    </div>
                    <p class="card__title">Non Transparent Photo</p>
                    <p class="card__subtitle">Quality Assurance Engineer</p>
                </div>
                <!--Secondary testing ends here-->

            </div>
        </div>
    </section>

    <!--Always use section section-name for all the sections-->
    <section class="section section-test">
        <div class="container">

            <!--Always use section__title, and section__description when testing something-->
            <h2 class="section__title">Cards Testing</h2>
            <p class="section__description">Testing for .card.card-6</p>

            <!--The main testing content will reside inside the section__content. Add with relevant classes behind section__content-->
            <div class="section__content grid-autofill-300">

                <!--Main testing starts here-->
                <div class="card card-6">
                    <img src="https://img.favpng.com/20/5/17/batch-processing-computer-icons-png-favpng-v4QqXZXZD09bddBAhgLS0t6wp.jpg"
                        alt="Process 01" class="card__image">
                    <h3 class="card__title">Step 01</h3>
                    <p class="card__description">We start by understanding your requirements and then we prepare a
                        plan for you.</p>
                </div>
                <!--Main testing ends here-->

            </div>
        </div>
    </section>


    <!--Always use section section-name for all the sections-->
    <section class="section section-test">
        <div class="container">

            <!--Always use section__title, and section__description when testing something-->
            <h2 class="section__title">Cards Testing</h2>
            <p class="section__description">Testing for .card.card-7</p>

            <!--The main testing content will reside inside the section__content. Add with relevant classes behind section__content-->
            <div class="section__content grid-autofill-300">
                <!--Main testing starts here-->

                <div class="card card-7">
                    <div class="card__image-wrapper">
                        <img src="Group 1.png" alt="" class="card__image">
                    </div>
                    <div class="card__description">
                        Booked my whole Pokhara trip in minutes. Easy, local, and way cheaper than I expected. Tourio is
                        a game-changer!
                    </div>
                    <div class="card__published-by">Aakash Bhattarai</div>
                    <div class="card__published-on">On year 2025</div>
                </div>
                <!--Main testing ends here-->

            </div>
        </div>
    </section>

</body>

</html>