// Import sections.
// Requiring JavaScript support.
@forward "./Header--1/_javascript";

// Not requiring JavaScript support.
@forward "./Hero--1/plain";
@forward "./Clients--1/plain";
@forward "./Cta--1/plain";
@forward "./Features--1/plain";
@forward "./Processes--1/plain";
@forward "./Footer--1/plain";
@forward "./Article--1/plain";
@forward "./Articles--1/plain";
@forward "./Team--1/plain";
@forward "./Info--1/plain";



// Section component styles.
.section {
    .section__title {
        margin-top: 8px;
    }

    .section__description {
        margin-top: 16px;
    }

    .section__content {
        margin-top: 32px;
    }
}