<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../index.css">
    <title>Document</title>
</head>
<!--Major third generally used for landing pages-->

<body class="majorThird">

    <!--Always use section section-name for all the sections-->
    <section class="section section-test">
        <div class="container">

            <!--Always use section__title, and section__description when testing something-->
            <h2 class="section__title">Badge Testing</h2>
            <p class="section__description">Checking how badge will look on multiple sections and area.</p>

            <!--The main testing content will reside inside the section__content. Add with relevant classes behind section__content-->
            <div class="section__content other-relevant-classes">
                <!--Main testing starts here-->

                <p>This is a plain button.</p>
                <a href="#" class="button button--solid">Button</a>
                <br><br>

                <p>This is a plain button with a plain badge.</p>
                <div class="button-wrapper" style="position: relative; display: inline-block;">
                    <div class="badge"></div>
                    <a href="#" class="button button--solid">Link to Page</a>
                </div>
                <br><br>

                <p>This is a plain button with a informative badge.</p>
                <div class="button-wrapper" style="position: relative; display: inline-block;">
                    <div class="badge badge--info"></div>
                    <a href="#" class="button button--solid">Learn More</a>
                </div>
                <br><br>

                <p>This is a plain button with a success badge.</p>
                <div class="button-wrapper" style="position: relative; display: inline-block;">
                    <div class="badge badge--success"></div>
                    <a href="#" class="button button--solid">Success!</a>
                </div>
                <br><br>

                <p>This is a plain button with a warning badge.</p>
                <div class="button-wrapper" style="position: relative; display: inline-block;">
                    <div class="badge badge--warning"></div>
                    <a href="#" class="button button--solid">Warning!</a>
                </div>
                <br><br>

                <p>This is a plain button with a danger badge.</p>
                <div class="button-wrapper" style="position: relative; display: inline-block;">
                    <div class="badge badge--danger"></div>
                    <a href="#" class="button button--solid">Danger!</a>
                </div>
                <br><br>

                <p>This is a plain button with a plain text badge.</p>
                <div class="button-wrapper" style="position: relative; display: inline-block;">
                    <div class="badge badge--with-text">2</div>
                    <a href="#" class="button button--solid">Link to Page!</a>
                </div>
                <br><br>

                <p>This is a plain button with a informative text badge.</p>
                <div class="button-wrapper" style="position: relative; display: inline-block;">
                    <div class="badge badge--info badge--with-text">2</div>
                    <a href="#" class="button button--solid">Learn More!</a>
                </div>
                <br><br>

                <p>This is a plain button with a success text badge.</p>
                <div class="button-wrapper" style="position: relative; display: inline-block;">
                    <div class="badge badge--success badge--with-text">2</div>
                    <a href="#" class="button button--solid">Success!</a>
                </div>
                <br><br>

                <p>This is a plain button with a warning text badge.</p>
                <div class="button-wrapper" style="position: relative; display: inline-block;">
                    <div class="badge badge--warning badge--with-text">2</div>
                    <a href="#" class="button button--solid">Warning!</a>
                </div>
                <br><br>

                <p>This is a plain button with a danger text badge.</p>
                <div class="button-wrapper" style="position: relative; display: inline-block;">
                    <div class="badge badge--danger badge--with-text">2</div>
                    <a href="#" class="button button--solid">Danger!</a>
                </div>
                <br><br>

                <!--Main testing ends here-->

                <section class="section section--info">
                    <div class="container">
                        <h2 class="section__title">Informative Notice</h2>
                        <div class="section__description">This is only for illustration pruposes only. We don't use
                            badges on buttons, but on other elements like icon buttons. We already have buttons for
                            types like danger, warning, success, for information, and for other cases.</div>
                    </div>
                </section>
            </div>

        </div>
    </section>

</body>

</html>