@use "../../Base/index" as base;

.section.section-processes.section-processes--1 {
    .container {
        .section__detail {
            .section__description {
                margin-top: 8px;
            }
        }

        .processes {
            margin-top: 16px;
            display: flex;

            .process {
                padding: 16px;
                background-color: white;
                filter: drop-shadow(1px 1px 2px #8d8d8d);
                border-radius: 4px;
            }
        }
    }

    @media screen and (max-width: 768px) {
        .container {
            .processes {
                flex-direction: column;
                row-gap: 12px;

                .process {
                    width: 100%;
                }
            }
        }
    }

    @media screen and (min-width: 768px) and (max-width: 1024px) {
        .container {
            .processes {
                flex-direction: row;
                flex-wrap: wrap;
                gap: 12px;

                .process {
                    width: calc(50% - 12px);
                }
            }
        }
    }

    @media screen and (min-width: 1024px) {
        .container {
            .processes {
                flex-direction: row;
                gap: 12px;

                .process {
                    width: calc(25% - 12px);
                }
            }
        }
    }
}