// Space between sections.
.section {

	// Under 480px
	@media screen and (max-width: 480px) {
		padding-top: 32px;
		padding-bottom: 32px;
	}

	// Under 768px
	@media screen and (min-width: 480px) and (max-width: 768px) {
		padding-top: 48px;
		padding-bottom: 48px;
	}

	// Under 1024px
	@media screen and (min-width: 768px) and (max-width: 1024px) {
		padding-top: 64px;
		padding-bottom: 64px;
	}

	// Under 1440px
	@media screen and (min-width: 1024px) and (max-width: 1440px) {
		padding-top: 80px;
		padding-bottom: 80px;
	}

	// Above 1440px
	@media screen and (min-width: 1440px) {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

// For the body (to override).
body {
	@media (prefers-color-scheme: light) {
		background-color: var(--color-m-dynamic-95);
	}

	@media (prefers-color-scheme: dark) {
		background-color: var(--color-m-dynamic-5);
	}
}

// For first section of the page. Header space margin.
body {
	section.section:nth-of-type(1) {
		margin-top: 64px;
	}
}

// For odd section.
section.section:nth-of-type(odd) {
	@media (prefers-color-scheme: light) {
		background-color: var(--color-m-dynamic-95);
	}

	@media (prefers-color-scheme: dark) {
		background-color: var(--color-m-dynamic-5);
	}
}

// For even section.
section.section:nth-of-type(even) {
	@media (prefers-color-scheme: light) {
		background-color: var(--color-m-dynamic-90);
	}

	@media (prefers-color-scheme: dark) {
		background-color: var(--color-m-dynamic-10);
	}
}



// Property for container.
.container {
	@media screen and (max-width: 480px) {
		max-width: calc(100% - 32px);
		margin: 0 auto;
	}

	@media screen and (max-width: 768px) {
		max-width: calc(100% - 40px);
		margin: 0 auto;
	}

	@media screen and (max-width: 1024px) {
		max-width: calc(100% - 48px);
		margin: 0 auto;
	}

	@media screen and (max-width: 1440px) {
		max-width: calc(100% - 56px);
		margin: 0 auto;
	}

	@media screen and (min-width: 1440px) {
		max-width: calc(1440px - 64px);
		margin: 0 auto;
	}
}