// Root element styles.
html {
    height: 100%;
}

// Body based styles.
body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

// Section component styles.
section, .section, section.section {
    .section__title {
        margin-top: 8px;
    }

    .section__description {
        margin-top: 16px;
    }

    .section__content {
        margin-top: 32px;
    }
}