// Main color variables.
$color_m-dynamic--hue: 0;
$color_m-dynamic--saturation: 0%;
$color_m-dynamic-lightness: 50%;


// Semantic color variables.
$color_n-transparent: transparent;
$color_s-pass--hue: 0;
$color_s-pass--saturation: 0%;
$color_s-pass-lightness: 50%;
$color_s-warn--hue: 0;
$color_s-warn--saturation: 0%;
$color_s-warn-lightness: 50%;
$color_s-fail--hue: 0;
$color_s-fail--saturation: 0%;
$color_s-fail-lightness: 50%;
$color_s-info--hue: 0;
$color_s-info--saturation: 0%;
$color_s-info-lightness: 50%;


// Setting value of the mode variable.
$color_m-dynamic-0: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 0%);
$color_m-dynamic-1: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 1%);
$color_m-dynamic-2: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 2%);
$color_m-dynamic-3: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 3%);
$color_m-dynamic-4: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 4%);
$color_m-dynamic-5: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 5%);
$color_m-dynamic-6: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 6%);
$color_m-dynamic-7: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 7%);
$color_m-dynamic-8: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 8%);
$color_m-dynamic-9: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 9%);
$color_m-dynamic-10: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 10%);
$color_m-dynamic-11: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 11%);
$color_m-dynamic-12: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 12%);
$color_m-dynamic-13: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 13%);
$color_m-dynamic-14: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 14%);
$color_m-dynamic-15: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 15%);
$color_m-dynamic-16: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 16%);
$color_m-dynamic-17: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 17%);
$color_m-dynamic-18: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 18%);
$color_m-dynamic-19: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 19%);
$color_m-dynamic-20: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 20%);
$color_m-dynamic-21: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 21%);
$color_m-dynamic-22: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 22%);
$color_m-dynamic-23: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 23%);
$color_m-dynamic-24: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 24%);
$color_m-dynamic-25: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 25%);
$color_m-dynamic-26: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 26%);
$color_m-dynamic-27: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 27%);
$color_m-dynamic-28: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 28%);
$color_m-dynamic-29: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 29%);
$color_m-dynamic-30: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 30%);
$color_m-dynamic-31: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 31%);
$color_m-dynamic-32: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 32%);
$color_m-dynamic-33: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 33%);
$color_m-dynamic-34: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 34%);
$color_m-dynamic-35: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 35%);
$color_m-dynamic-36: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 36%);
$color_m-dynamic-37: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 37%);
$color_m-dynamic-38: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 38%);
$color_m-dynamic-39: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 39%);
$color_m-dynamic-40: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 40%);
$color_m-dynamic-41: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 41%);
$color_m-dynamic-42: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 42%);
$color_m-dynamic-43: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 43%);
$color_m-dynamic-44: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 44%);
$color_m-dynamic-45: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 45%);
$color_m-dynamic-46: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 46%);
$color_m-dynamic-47: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 47%);
$color_m-dynamic-48: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 48%);
$color_m-dynamic-49: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 49%);
$color_m-dynamic-50: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 50%);
$color_m-dynamic-51: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 51%);
$color_m-dynamic-52: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 52%);
$color_m-dynamic-53: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 53%);
$color_m-dynamic-54: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 54%);
$color_m-dynamic-55: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 55%);
$color_m-dynamic-56: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 56%);
$color_m-dynamic-57: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 57%);
$color_m-dynamic-58: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 58%);
$color_m-dynamic-59: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 59%);
$color_m-dynamic-60: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 60%);
$color_m-dynamic-61: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 61%);
$color_m-dynamic-62: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 62%);
$color_m-dynamic-63: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 63%);
$color_m-dynamic-64: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 64%);
$color_m-dynamic-65: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 65%);
$color_m-dynamic-66: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 66%);
$color_m-dynamic-67: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 67%);
$color_m-dynamic-68: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 68%);
$color_m-dynamic-69: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 69%);
$color_m-dynamic-70: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 70%);
$color_m-dynamic-71: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 71%);
$color_m-dynamic-72: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 72%);
$color_m-dynamic-73: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 73%);
$color_m-dynamic-74: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 74%);
$color_m-dynamic-75: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 75%);
$color_m-dynamic-76: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 76%);
$color_m-dynamic-77: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 77%);
$color_m-dynamic-78: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 78%);
$color_m-dynamic-79: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 79%);
$color_m-dynamic-80: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 80%);
$color_m-dynamic-81: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 81%);
$color_m-dynamic-82: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 82%);
$color_m-dynamic-83: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 83%);
$color_m-dynamic-84: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 84%);
$color_m-dynamic-85: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 85%);
$color_m-dynamic-86: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 86%);
$color_m-dynamic-87: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 87%);
$color_m-dynamic-88: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 88%);
$color_m-dynamic-89: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 89%);
$color_m-dynamic-90: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 90%);
$color_m-dynamic-91: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 91%);
$color_m-dynamic-92: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 92%);
$color_m-dynamic-93: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 93%);
$color_m-dynamic-94: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 94%);
$color_m-dynamic-95: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 95%);
$color_m-dynamic-96: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 96%);
$color_m-dynamic-97: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 97%);
$color_m-dynamic-98: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 98%);
$color_m-dynamic-99: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 99%);
$color_m-dynamic-100: hsl($color_m-dynamic--hue, $color_m-dynamic--saturation, 100%);