:root {
    // Main color variables.
    --color-m-dynamic__hue: 0;
    --color-m-dynamic__saturation: 0%;
    --color-m-dynamic__lightness: 0%;


    // Semantic color variables.
    --color-s-pass__hue: 0;
    --color-s-pass__saturation: 0%;
    --color-s-pass__lightnes: 50%;
    --color-s-warn__hue: 0;
    --color-s-warn__saturation: 0%;
    --color-s-warn__lightness: 50%;
    --color-s-fail__hue: 0;
    --color-s-fail__saturation: 0%;
    --color-s-fail__lightness: 50%;
    --color-s-info__hue: 0;
    --color-s-info__saturation: 0%;
    --color-s-info__lightness: 50%;


    // Neutral color variables.
    --color-n-transparent: transparent;


    // Setting value of the mode variable.
    --color-m-dynamic-0: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 0%);
    --color-m-dynamic-2: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 2%);
    --color-m-dynamic-5: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 5%);
    --color-m-dynamic-10: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 10%);
    --color-m-dynamic-15: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 15%);
    --color-m-dynamic-20: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 20%);
    --color-m-dynamic-30: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 30%);
    --color-m-dynamic-40: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 40%);
    --color-m-dynamic-50: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 50%);
    --color-m-dynamic-60: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 60%);
    --color-m-dynamic-70: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 70%);
    --color-m-dynamic-80: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 80%);
    --color-m-dynamic-85: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 85%);
    --color-m-dynamic-90: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 90%);
    --color-m-dynamic-95: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 95%);
    --color-m-dynamic-98: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 98%);
    --color-m-dynamic-100: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 100%);
}