:root {
    // Main color variables.
    --color-m-dynamic__hue: 0;
    --color-m-dynamic__saturation: 0%;
    --color-m-dynamic__lightness: 0%;


    // Semantic color variables.
    --color-s-pass__hue: 0;
    --color-s-pass__saturation: 0%;
    --color-s-pass__lightnes: 50%;
    --color-s-warn__hue: 0;
    --color-s-warn__saturation: 0%;
    --color-s-warn__lightness: 50%;
    --color-s-fail__hue: 0;
    --color-s-fail__saturation: 0%;
    --color-s-fail__lightness: 50%;
    --color-s-info__hue: 0;
    --color-s-info__saturation: 0%;
    --color-s-info__lightness: 50%;


    // Neutral color variables.
    --color-n-transparent: transparent;


    // Setting value of the mode variable.
    --color-m-dynamic-0: hsl(var(--color-m-dynamic__hue), var(--color_m-dynamic__saturation), 0%);
    --color-m-dynamic-1: hsl(var(--color-m-dynamic__hue), var(--color_m-dynamic__saturation), 1%);
    --color-m-dynamic-2: hsl(var(--color-m-dynamic__hue), var(--color_m-dynamic__saturation), 2%);
    --color-m-dynamic-3: hsl(var(--color-m-dynamic__hue), var(--color_m-dynamic__saturation), 3%);
    --color-m-dynamic-4: hsl(var(--color-m-dynamic__hue), var(--color_m-dynamic__saturation), 4%);
    --color-m-dynamic-5: hsl(var(--color-m-dynamic__hue), var(--color_m-dynamic__saturation), 5%);
    --color-m-dynamic-6: hsl(var(--color-m-dynamic__hue), var(--color_m-dynamic__saturation), 6%);
    --color-m-dynamic-7: hsl(var(--color-m-dynamic__hue), var(--color_m-dynamic__saturation), 7%);
    --color-m-dynamic-8: hsl(var(--color-m-dynamic__hue), var(--color_m-dynamic__saturation), 8%);
    --color-m-dynamic-9: hsl(var(--color-m-dynamic__hue), var(--color_m-dynamic__saturation), 9%);
    --color-m-dynamic-10: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 10%);
    --color-m-dynamic-11: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 11%);
    --color-m-dynamic-12: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 12%);
    --color-m-dynamic-13: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 13%);
    --color-m-dynamic-14: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 14%);
    --color-m-dynamic-15: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 15%);
    --color-m-dynamic-16: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 16%);
    --color-m-dynamic-17: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 17%);
    --color-m-dynamic-18: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 18%);
    --color-m-dynamic-19: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 19%);
    --color-m-dynamic-20: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 20%);
    --color-m-dynamic-21: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 21%);
    --color-m-dynamic-22: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 22%);
    --color-m-dynamic-23: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 23%);
    --color-m-dynamic-24: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 24%);
    --color-m-dynamic-25: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 25%);
    --color-m-dynamic-26: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 26%);
    --color-m-dynamic-27: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 27%);
    --color-m-dynamic-28: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 28%);
    --color-m-dynamic-29: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 29%);
    --color-m-dynamic-30: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 30%);
    --color-m-dynamic-31: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 31%);
    --color-m-dynamic-32: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 32%);
    --color-m-dynamic-33: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 33%);
    --color-m-dynamic-34: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 34%);
    --color-m-dynamic-35: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 35%);
    --color-m-dynamic-36: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 36%);
    --color-m-dynamic-37: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 37%);
    --color-m-dynamic-38: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 38%);
    --color-m-dynamic-39: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 39%);
    --color-m-dynamic-40: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 40%);
    --color-m-dynamic-41: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 41%);
    --color-m-dynamic-42: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 42%);
    --color-m-dynamic-43: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 43%);
    --color-m-dynamic-44: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 44%);
    --color-m-dynamic-45: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 45%);
    --color-m-dynamic-46: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 46%);
    --color-m-dynamic-47: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 47%);
    --color-m-dynamic-48: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 48%);
    --color-m-dynamic-49: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 49%);
    --color-m-dynamic-50: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 50%);
    --color-m-dynamic-51: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 51%);
    --color-m-dynamic-52: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 52%);
    --color-m-dynamic-53: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 53%);
    --color-m-dynamic-54: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 54%);
    --color-m-dynamic-55: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 55%);
    --color-m-dynamic-56: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 56%);
    --color-m-dynamic-57: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 57%);
    --color-m-dynamic-58: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 58%);
    --color-m-dynamic-59: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 59%);
    --color-m-dynamic-60: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 60%);
    --color-m-dynamic-61: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 61%);
    --color-m-dynamic-62: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 62%);
    --color-m-dynamic-63: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 63%);
    --color-m-dynamic-64: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 64%);
    --color-m-dynamic-65: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 65%);
    --color-m-dynamic-66: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 66%);
    --color-m-dynamic-67: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 67%);
    --color-m-dynamic-68: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 68%);
    --color-m-dynamic-69: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 69%);
    --color-m-dynamic-70: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 70%);
    --color-m-dynamic-71: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 71%);
    --color-m-dynamic-72: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 72%);
    --color-m-dynamic-73: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 73%);
    --color-m-dynamic-74: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 74%);
    --color-m-dynamic-75: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 75%);
    --color-m-dynamic-76: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 76%);
    --color-m-dynamic-77: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 77%);
    --color-m-dynamic-78: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 78%);
    --color-m-dynamic-79: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 79%);
    --color-m-dynamic-80: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 80%);
    --color-m-dynamic-81: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 81%);
    --color-m-dynamic-82: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 82%);
    --color-m-dynamic-83: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 83%);
    --color-m-dynamic-84: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 84%);
    --color-m-dynamic-85: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 85%);
    --color-m-dynamic-86: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 86%);
    --color-m-dynamic-87: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 87%);
    --color-m-dynamic-88: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 88%);
    --color-m-dynamic-89: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 89%);
    --color-m-dynamic-90: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 90%);
    --color-m-dynamic-91: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 91%);
    --color-m-dynamic-92: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 92%);
    --color-m-dynamic-93: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 93%);
    --color-m-dynamic-94: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 94%);
    --color-m-dynamic-95: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 95%);
    --color-m-dynamic-96: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 96%);
    --color-m-dynamic-97: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 97%);
    --color-m-dynamic-98: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 98%);
    --color-m-dynamic-99: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 99%);
    --color-m-dynamic-100: hsl(var(--color-m-dynamic__hue), var(--color-m-dynamic__saturation), 100%);
}