// Base style for heading typography elements.
h1,
h2,
h3,
h4,
h5,
h6,
.title-1,
.title-2,
.title-3,
.title-4,
.title-5,
.title-6 {
    line-height: 1.15;
    font-weight: 700;
    letter-spacing: -0.012em;
    text-transform: capitalize;

    @media (prefers-color-scheme: light) {
        color: var(--color-m-dynamic-15);
    }

    @media (prefers-color-scheme: dark) {
        color: var(--color-m-dynamic-85);
    }
}


// For all the other text elelements.
body {
    @media (prefers-color-scheme: light) {
        color: var(--color-m-dynamic-10);
    }

    @media (prefers-color-scheme: dark) {
        color: var(--color-m-dynamic-90);
    }
}


// Mixin for setting text sizes based on a ratio.
@mixin set-text-sizes($text-base-ratio, $media-base-ratio: 1) {
    $text-size-100: 1rem;
    $text-size-200: $text-base-ratio * $text-size-100;
    $text-size-300: $text-base-ratio * $text-size-200;
    $text-size-400: $text-base-ratio * $text-size-300;
    $text-size-500: $text-base-ratio * $text-size-400;
    $text-size-600: $text-base-ratio * $text-size-500;
    $text-size-700: $text-base-ratio * $text-size-600;
    $text-size-090: calc($text-size-100 / $text-base-ratio);

    h1,
    .title-1 {
        font-size: $text-size-700 * $media-base-ratio;
    }

    h2,
    .title-2 {
        font-size: $text-size-600 * $media-base-ratio;
    }

    h3,
    .title-3 {
        font-size: $text-size-500 * $media-base-ratio;
    }

    h4,
    .title-4 {
        font-size: $text-size-400 * $media-base-ratio;
    }

    h5,
    .title-5 {
        font-size: $text-size-300 * $media-base-ratio;
    }

    h6,
    .title-6 {
        font-size: $text-size-200 * $media-base-ratio;
    }

    p,
    .body {
        font-size: $text-size-100;
    }

    .caption,
    .overhead {
        font-size: $text-size-090;
    }
}




// Mixin for responsive typography with different scaling per breakpoint.
@mixin responsive-text-sizes($text-base-ratio) {
    @media screen and (max-width: 30rem) {
        @include set-text-sizes($text-base-ratio, 0.80);
    }

    @media screen and (max-width: 48rem) {
        @include set-text-sizes($text-base-ratio, 0.85);
    }

    @media screen and (max-width: 64rem) {
        @include set-text-sizes($text-base-ratio, 0.90);
    }

    @media screen and (max-width: 90rem) {
        @include set-text-sizes($text-base-ratio, 0.95);
    }

    @media screen and (min-width: 90rem) {
        @include set-text-sizes($text-base-ratio, 1);
    }
}




// Applying the mixin to each body class
body.minorSecond {
    @include responsive-text-sizes(1.067);
}

body.majorSecond {
    @include responsive-text-sizes(1.125);
}

body.minorThird {
    @include responsive-text-sizes(1.2);
}

body.majorThird {
    @include responsive-text-sizes(1.25);
}