// Spacing variables.
$spacing: 16px;
$spacing-less-3: 2px;
$spacing-less-2: 4px;
$spacing-less-1: 8px;
$spacing-more-1: 24px;
$spacing-more-2: 32px;
$spacing-more-3: 48px;
$spacing-more-4: 64px;
$spacing-more-5: 128px;
$spacing-more-6: 256px;

// Radius variables.
$radius: 16px;
$radius-less-3: 2px;
$radius-less-2: 4px;
$radius-less-1: 8px;
$radius-more-1: 24px;
$radius-more-2: 32px;
$radius-more-3: 48px;
$radius-more-4: 64px;
$radius-more-5: 128px;
$radius-more-6: 256px;