// Dependencies:
@use "../../../Base/index" as base;


// Card 3 Styles
.card.card-review-1 {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 16px;
    background-color: var(--color-m-dynamic-10);
    padding: 24px;

    .card__image-wrapper {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        width: 100%;
        overflow: hidden;
        border-radius: 16px;

        .card__image {
            height: auto;
            width: auto;
            max-width: 100%;
            max-height: 50px;
            object-fit: contain;
            border-radius: 0;
        }
    }

    .card__description {
        font-size: 1rem;
        margin-top: 24px;
    }

    .card__published-by {
        @extend .caption;
        font-weight: 600;
        margin-top: 16px;
    }

    .card__published-on {
        @extend .caption;
        color: var(--color-m-dynamic-70);
    }
}