<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../index.css">
    <title>Document</title>
</head>
<!--Major third generally used for landing pages-->

<body class="majorThird">

    <!--Always use section section-name for all the sections-->
    <section class="section section-test">
        <div class="container">

            <!--Always use section__title, and section__description when testing something-->
            <h2 class="section__title">Cards Testing</h2>
            <p class="section__description">Checking how cards will look on different grids and conditions. Testing on
                grid 1 container.</p>

            <!--The main testing content will reside inside the section__content. Add with relevant classes behind section__content-->
            <div class="section__content grid1-container">
                <!--Main testing starts here-->

                <div class="card card-review-1">
                    <div class="card__image-wrapper">
                        <img src="Group 1.png" alt="" class="card__image">
                    </div>
                    <div class="card__description">
                        Booked my whole Pokhara trip in minutes. Easy, local, and way cheaper than I expected. Tourio is
                        a game-changer!
                    </div>
                    <div class="card__published-by">Aakash Bhattarai</div>
                    <div class="card__published-on">On year 2025</div>
                </div>
                <!--Main testing ends here-->

            </div>
        </div>
    </section>

    <!--Informative section about the above card-->
    <section class="section section--info">
        <div class="container">
            <h2 class="section__title">Informative Notice</h2>
            <div class="section__description">
                In a single area, don't have more than one solid button. It's advised that if you need more than 1
                buttons clustered, use outlined buttons.
            </div>
        </div>
    </section>

</body>

</html>