// Importing the variables and design foundation to the code.
@use "../../Base/_index" as base;


// Main Code for the Badge.
.button--profile {
  background-color: base.$color_m-dynamic-100;
  color: #000;
}

.badge--profile {
  background-color: base.$color_m-dynamic-100;
  color: #000;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.badge--profile img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}